$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDarkAlt: #415352;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #c75ea3;

$color-bgDark: #2d2d2d;
$color-bgLight: #f9fbfb;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.doubleRangeInput {
    .rangeSlider {
        max-width: 18vw;
        font-family: $font-items;
        position: relative;
        width: 100%;
        height: 6px;
        border-radius: 5px;
        margin: 25px 0 75px;
        background: $color-secundaryLight;

        .inputBox {
            margin-left: -25px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 35px;

            .minBox,
            .maxBox {
                display: flex;
                align-items: center;
                gap: 1em;
                width: 50%;

                .inputWrap {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    .inputField {
                        height: 2em;
                        padding: 0.5em 0.75em;
                        font-size: 1.8rem;
                        border-radius: 5px;
                        position: relative;
                        width: auto;
                        max-width: 80%;
                        font-family: $font-items;
                        background: $color-fontDark;
                        border: 1px solid #d4d7e5;
                        box-shadow: 1px 1px 4px $color-shadow;

                        &:focus {
                            outline: none;
                            border: 1px solid #c1c2c5;
                        }
                    }
                }
            }
        }
    }
}

.dark {
    .doubleRangeInput {
        .rangeSlider {
            background: $color-secundaryDark;

            .inputBox {
                .minBox,
                .maxBox {
                    .inputWrap {
                        .inputField {
                            border: 1px solid #9d9d9e;
                            box-shadow: 0 0 15px #14141454;

                            &:focus {
                                border-left: 1px solid #2a2a2b;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .doubleRangeInput {
        .rangeSlider {
            max-width: 45vw;
        }
    }
}

@media only screen and (max-width: 860px) {
    .doubleRangeInput {
        .rangeSlider {
            min-width: 70vw;
        }
    }
}
