$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #0d977e;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #c75ea3;

$color-bgDark: #2d2d2d;
$color-bgLight: #f9fbfb;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.loginForm {
    border-radius: 15px;
    padding: 1em 2em;
    display: flex;
    justify-content: center;
    background-color: #f3faf9de;
    box-shadow: 2px 2px 15px $color-shadow;

    h2 {
        font-size: 2.8rem;
        font-family: $font-title;
        text-align: left;
        width: 9em;
    }

    .loginFormGoogleSection {
        width: 35%;
        display: flex;
        flex-direction: column;
        gap: 2.5em;

        .loginFormGoogleActions {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .loginGoogleButton {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1em;
                width: 100%;
                padding: 0.1em 0.5em;
                font-size: 2rem;
                font-family: $font-title;
                font-weight: bold;
                border-radius: 10px;
                background: $color-bgLight;
                border: none;
                cursor: pointer;
                box-shadow: 4px 4px 16px $color-shadow;
                transition: 0.25s ease;

                &:hover {
                    box-shadow: 4px 4px 24px $color-shadow;
                    filter: brightness(0.95);
                }

                .loginGoogleIcon {
                    height: 62px;
                    width: 36px;
                }
            }
        }
    }

    .loginFormDivider {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 2.5em;
        color: $color-primaryLight;
        gap: 0.5em;

        hr {
            border: none;
            background-color: $color-primaryLight;
            width: 3px;
            height: 100%;
            border-radius: 5px;
        }

        h3 {
            font-family: $font-items;
            font-size: 2rem;
        }
    }

    .loginFormContent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2.5em;
        flex: 1;

        .loginFormFields {
            display: flex;
            flex-direction: column;
            row-gap: 2em;
        }

        .loginFormActions {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            place-self: center;
            gap: 3em;

            button {
                font-size: 1.8rem;
                padding: 0.5em 2em;
                border-radius: 5px;
                border: none;
                background-color: $color-primaryLight;
                color: $color-fontLight;
                font-family: $font-title;
                cursor: pointer;
                box-shadow: 2px 2px 4px $color-shadow;
                transition: 0.2s ease;

                &:hover {
                    filter: brightness(0.9);
                    box-shadow: 0 0 10px $color-primaryLight;
                }

                &:active + .loginForm {
                    transition: 2s linear;
                    transform: rotateX(180deg);
                }
            }
        }
    }
}

.dark {
    .loginForm {
        background-color: #72757478;
        box-shadow: 0 0 15px #141414a8;

        .loginFormGoogleSection {
            .loginFormGoogleActions {
                .loginGoogleButton {
                    box-shadow: 2px 2px 6px $color-shadow;
                }
            }
        }

        .loginFormDivider {
            color: $color-primaryDark;

            hr {
                background-color: $color-primaryDark;
            }
        }

        .loginFormContent {
            .loginFormActions {
                button {
                    background-color: $color-primaryDark;
                    color: $color-fontDark;
                    box-shadow: 2px 2px 8px $color-shadow;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .loginForm {
        flex-direction: column;
        padding: 0.5em 1em;

        h2 {
            font-size: 2.4rem;
            width: auto;
            text-align: center;
        }

        .loginFormGoogleSection {
            width: 100%;
            padding-top: 1em;
        }

        .loginFormDivider {
            flex-direction: row;
            margin: 0;
            height: 4em;
            width: 100%;

            hr {
                width: 100%;
                height: 3px;
            }
        }

        .loginFormContent {
            padding: 0 1em 2em;

            .loginFormActions {
                gap: 1em;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .loginForm {
        .loginFormContent {
            .loginFormActions {
                width: 100%;
                grid-template-columns: 1fr;
                gap: 1em;
            }
        }
    }
}
