$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #0d977e;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #b33e8c;

$color-bgDark: #2D2D2D;
$color-bgLight: #f2f2f2;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;


.productContainer {
  display: grid;
  position: relative;
  place-items: center;
  padding-top: 8em;

  hr {
    width: 100%;
    border: 2px solid $color-primaryLight;
  }

  .containerMain {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .productMain {
      margin: 2em auto;
      width: 90%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .containerImages {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        position: relative;
        gap: .5em;
        width: 40%;
        padding: 2em 0;

        .imageMain {
          background: #fff;
          border-radius: 15px;
          height: 60svh;
          width: 35vw;
          cursor: pointer;
          object-fit: contain;
          box-shadow: 2px 2px 10px $color-shadow;
          filter: drop-shadow(2px 2px 10px $color-shadow);
        }

        .optionsImages {
          display: flex;
          width: 100%;
          max-width: 35vw;
          gap: 1em;

          img {
            background: #fff;
            border-radius: 10px;
            object-fit: contain;
            width: 8vw;
            height: 8vw;
            cursor: pointer;
            box-shadow: 2px 2px 10px $color-shadow;
          }
        }

        .offerDescont {
          background-color: $color-detailsLight;
          padding: 20px 10px;
          text-align: center;
          font-size: 2rem;
          z-index: 10;
          color: $color-fontDark;
          border-radius: 10px;
          opacity: 1;
          transition: .3s ease-in-out;
        
          position: absolute;
          top: 35px;
          right: 20px;
        }    

        &:hover {       
          .offerDescont {
            opacity: 0;
          }
        }
      }

      .containerInfos {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2em;
        font-size: 2.6rem;
        margin-top: -.5em;

        .sectionIcons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: -1.5em;
       
          .rating {
            filter: drop-shadow(2px 2px 8px $color-shadow);
            display: flex;
            flex-direction: row-reverse;
            gap: .3rem;
            --stroke: #666;
        
            .productNote {
              color: #837f7f7e;
            }
          
            input {
              appearance: none;
            }
          
            label {
              display: flex;
              align-items: center;
              cursor: pointer;
            }
          
            svg {
              width: 1.5em;
              height: 1.5em;
              overflow: visible;
              fill: transparent;
              stroke: var(--stroke);
              stroke-linejoin: bevel;
              transition: stroke 0.2s, fill 0.5s;
            }
          
            label:hover svg {
              stroke: $color-primaryLight;
            }
        
            input:checked ~ label svg {
              transition: 0s;
              animation: idle 4s linear infinite, yippee 0.75s backwards;
              fill: $color-primaryLight;
              stroke: $color-primaryLight;
              stroke-opacity: 0;
              stroke-dasharray: 0;
              stroke-linejoin: miter;
              stroke-width: 8px;
            }
          }
          
          .iconFav {
            color: $color-primaryLight;
            filter: drop-shadow(2px 2px 8px $color-shadow);
            font-size: clamp(2rem, 2rem + 5vw, 5.4rem);
            cursor: pointer;
          }
        }

        .productName {
          font-family: $font-title;
          font-size: clamp(2.8rem, 1rem + 2vw, 3.5rem);
        }

        .priceOrigin {
          font-family: $font-items;
          text-decoration: line-through;
          color: $color-detailsLight;
          font-size: clamp(2rem, 1rem + 2vw, 3rem);
          text-shadow: 2px 2px 1px $color-shadow;
          font-weight: 700;
          margin: -.5em 0;
        }

        .productPrice {
          font-family: $font-title;
          span {
            font-family: $font-items;
            color: $color-primaryLight;
            font-weight: 700;
            font-size: clamp(2.5rem, 1rem + 2vw, 5rem);
            text-shadow: 2px 2px 2px $color-shadow;
          }
        }

        .priceFees {
          font-family: $font-title;
          span {
            font-family: $font-items;
            color: $color-detailsLight;
            font-weight: 600;
            font-size: clamp(2rem, 1rem + 2vw, 2.6rem);
          }
        }

        .addCart {
          margin-top: 1em;
          font-family: $font-items;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 15px;
          border: none;
          font-size: clamp(2rem, 1rem + 2vw, 4.6rem);
          padding: .5em 2em;
          gap: .5em;
          background: $color-primaryLight;
          color: $color-fontDark;
          cursor: pointer;
          box-shadow: 2px 2px 10px $color-shadow;
          transition: .3s ease;
          white-space: nowrap;

          .iconAdd {
            width: 42px;   
            height: 42px;   
          }

          &:hover {
            filter: brightness(.9);
            box-shadow: 0 0 30px $color-terciaryLight;
          }
        }
      }
    }

    .containerDetails {
      padding: 1em 2em;
      display: flex;
      align-items: baseline;
      justify-content: center;

      .containerDescription {
        padding: 0 1em;
        width: 40vw;

        h3 {
          font-family: $font-title;
          font-size: clamp(2.6rem, 1rem + 2vw, 3rem);
        }

        p {
          width: 90%;
          text-align: justify;
          text-indent: 5px;
          font-size: clamp(2rem, 1rem + 2vw, 2.6rem);
        }
      }

      .containerSpecifications { 
        font-family: $font-items;
        width: 50vw;
        background: $color-card;
        padding: 1em;
        display: flex;
        border-radius: 15px;
        flex-direction: column;
        gap: 1em;
        box-shadow: 0 0 10px $color-shadow;

        .specification {
          display: flex;
          gap: .5em;
          font-size: clamp(2rem, 1rem + 2vw, 2.6rem);
        }
      }
    }
  }

  .toastLogin {
    button {
      padding: 2em;
    }
  }
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: $color-primaryLight;
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: $color-primaryLight;
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: $color-primaryLight;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: $color-primaryLight;
  }
}

.dark {
  .productContainer {
    hr {
      border: 2px solid $color-primaryDark;
    }

    .containerMain {
      .productMain {
        .containerImages {
          .imageMain {
            filter: drop-shadow(4px 4px 6px #4b4c4c78);
            box-shadow: 4px 4px 8px #4b4c4c78;
          }

          .optionsImages {
            img {
              box-shadow: 4px 4px 8px #4b4c4c78;
            }
          }
        }

        .containerInfos {
          .iconFav {
            color: $color-primaryDark;
            filter: drop-shadow(2px 2px 4px $color-card);
          }

          .priceOrigin {
            color: $color-detailsDark;
            text-shadow: 0 0 0 $color-shadow;
          }

          .productPrice {
            span {
              color: $color-primaryDark;
              text-shadow: 3px 3px 4px $color-card;
            }
          }

          .priceFees {
            span {
              color: $color-detailsDark;
            }
          }

          .addCart {
            background: $color-primaryDark;
            box-shadow: 4px 4px 10px $color-card;

            &:hover {
              filter: brightness(1.1);
              box-shadow: 0 0 20px $color-primaryDark;
            }
          }
        }
      }
      .containerDetails {
        .containerSpecifications { 
          box-shadow: 0 0 15px $color-card;
        }
      }
    }
  }
}

@media only screen and (max-width: 1250px){
  .productContainer {
    .containerMain {  
      .productMain {
        flex-direction: column;
  
        .containerImages {
          flex-direction: row-reverse;
          justify-content: center;
          align-items: center;
          width: 100%;
  
          .imageMain {
            width: 50vw;
            height: 60svh;
          }
  
          .optionsImages {
            flex-direction: column;
            max-width: 10em;
            min-width: 10em;
            max-height: 60svh;
  
            img {
              width: 9em;
              height: 9em;
            }
          }

          .offerDescont {          
            right: 150px;
          }   
        }
  
        .containerInfos {
          gap: 1.5em;
          margin-top: 0;
          width: 100%;
        }
      }

      .containerDetails {
        flex-direction: column;
        align-items: center;
        gap: 1em;
        margin-bottom: 1em;
        width: 95vw;
  
        .containerDescription, .containerSpecifications {
          padding: 2em 1em;
          width: 100%;

          p {
            width: 100%;
            text-align: left;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 820px){
  .productContainer {
    .containerMain {  
      .productMain {  
        width: 90%;
        justify-content: center;

        .containerImages {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 0 auto 5em;

          .imageMain {
            width: 75vw;
          }

          .optionsImages {
            flex-direction: row;
            max-width: 75vw;
            justify-content: center;
          }

          .offerDescont {          
            right: 60px;
          }   
        }
  
        .containerInfos {
          margin: -3em 0 -1em;
          width: clamp(70vw, 30vw + 100em, 85vw);
        }
      }
    }
  }
}

@media only screen and (max-width: 600px){
  .productContainer {
    .containerMain {  
      .productMain {  
        .containerImages {
          .imageMain {
            width: 90vw;
            height: 40svh;
          }
  
          .optionsImages {
            max-width: 50vw;
  
            img {
              width: 40%;
              height: 7em;
            }
          }

          .offerDescont {          
            right: 5px;
          }   
        }

        .containerInfos {
          .addCart { 
            padding: 1em; 
            .iconAdd {
              width: 32px;   
              height: 32px;   
            }
          }
        }
      }
    }
  }
}