$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #c75ea3;

$color-bgLight: #f9fbfb;
$color-bgDark: #2d2d2d;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

main {
    .titleContainers {
        display: flex;
        align-items: center;
        gap: 1em;
        padding: 0.5em 1em;

        .iconOrder {
            width: 42px;
            height: 42px;
        }

        h3 {
            font-size: 2.6rem;
            font-family: $font-title;
        }
    }

    .hrTitle {
        width: 100%;
        border: 2px solid $color-primaryLight;
    }

    .statusOrder {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 1em;
        width: calc(90vw + 1em);
        height: 3em;
        gap: 1em;
        background: transparent;

        .status {
            display: flex;
            align-items: center;
            gap: 0.5em;

            .iconStatus {
                width: 24px;
                height: 24px;
                color: $color-primaryLight;
            }

            p {
                font-size: 2rem;
                color: $color-primaryLight;
            }
        }

        span {
            height: 3px;
            width: 3em;
            background: $color-primaryLight;
        }
    }

    .loadingDelivery {
        margin: 0 auto 1em;
        width: calc(90vw);
        height: 10em;
        background: $color-bgLight;
        border-radius: 15px;
        box-shadow: 4px 4px 15px $color-shadow;
    }

    .sectionOrder {
        width: 90vw;
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 1em;

        .divOrder {
            width: 65vw;
            display: flex;
            flex-direction: column;
            gap: 1em;

            .personalData {
                background: $color-bgLight;
                box-shadow: 4px 4px 15px $color-shadow;
                border-radius: 15px;
                overflow: hidden;

                .dataContainer {
                    padding: 1em;
                    height: 90%;
                    display: grid;
                    grid-template-columns: 1fr auto 1.5fr;

                    .titleData {
                        margin-left: 2em;
                        font-size: 2.2rem;
                    }

                    p {
                        font-size: 1.8rem;
                    }

                    .dataPerson {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5em;
                        padding: 1em 1em 0;
                    }

                    .dataEnd {
                        padding: 1em 1em 0;
                        display: grid;
                        gap: 0.5em;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr 1fr 1fr;
                    }

                    .hrData {
                        margin-top: -18px;
                        width: 0;
                        height: 200%;
                        border: 2px solid $color-primaryLight;
                    }
                }
            }

            .shippingCart {
                background: $color-bgLight;
                box-shadow: 4px 4px 15px $color-shadow;
                border-radius: 15px;
                font-family: $font-items;

                .cart {
                    .dataProduct {
                        width: 100%;
                        padding: 0.5em 2em;
                        text-align: center;

                        thead {
                            font-size: clamp(2rem, 1rem + 1vw, 2.4rem);
                            font-family: $font-title;
                        }

                        tr {
                            td {
                                font-size: 2rem;

                                p {
                                    text-align: start;
                                }

                                img {
                                    background-color: #fff;
                                    border-radius: 5px;
                                    object-fit: contain;
                                    width: 10em;
                                    height: 8em;
                                }
                            }
                        }
                    }
                }

                .delivery {
                    .dataDelivery {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 1em;
                        font-size: clamp(2rem, 1rem + 1vw, 2.4rem);

                        span {
                            color: $color-detailsLight;
                        }

                        .term {
                            text-indent: 1.5em;
                        }
                    }
                }
            }
        }

        .orderSummary {
            width: 25vw;
            max-height: 30em;
            position: relative;
            background: $color-bgLight;
            box-shadow: 4px 4px 15px $color-shadow;
            border-radius: 15px;
            display: flex;
            font-family: $font-items;
            flex-direction: column;

            .lineOrder {
                padding: 0.5em 1em;
                font-size: clamp(2rem, 1rem + 1vw, 2.4rem);
                display: flex;
                justify-content: space-between;

                .discount {
                    color: $color-detailsLight;
                }
            }

            h2 {
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translateX(-50%);
                font-size: 4rem;
                color: $color-primaryLight;
            }

            .confirmOrder {
                font-family: $font-title;
                position: absolute;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 2.4rem;
                bottom: 0;
                border: none;
                outline: none;
                font-size: 2rem;
                margin-top: 1em;
                width: 100%;
                flex-grow: 1;
                padding: 1em;
                border-radius: 0 0 15px 15px;
                cursor: pointer;
                background: $color-primaryLight;
                transition: 0.2s ease;

                &:hover {
                    filter: brightness(0.9);
                    box-shadow: 0 0 10px #4e8581;
                }
            }
        }
    }
}

.dark {
    main {
        .hrTitle {
            border: 2px solid $color-primaryDark;
        }

        .statusOrder {
            .status {
                .iconStatus {
                    color: $color-primaryDark;
                }

                p {
                    color: $color-primaryDark;
                }
            }

            span {
                background: $color-primaryDark;
            }
        }

        .loadingDelivery {
            background-color: #72757478;
            box-shadow: 0 0 15px #141414a8;
        }

        .sectionOrder {
            .divOrder {
                .personalData {
                    background-color: #72757478;
                    box-shadow: 0 0 15px #141414a8;

                    .dataContainer {
                        .hrData {
                            border: 2px solid $color-primaryDark;
                        }
                    }
                }

                .shippingCart {
                    background-color: #72757478;
                    box-shadow: 0 0 15px #141414a8;

                    .delivery {
                        .dataDelivery {
                            span {
                                color: $color-detailsDark;
                            }
                        }
                    }
                }
            }

            .orderSummary {
                background-color: #72757478;
                box-shadow: 0 0 15px #141414a8;

                .lineOrder {
                    .discount {
                        color: $color-detailsDark;
                    }
                }

                h2 {
                    color: $color-primaryDark;
                }

                .confirmOrder {
                    background: $color-primaryDark;

                    &:hover {
                        filter: brightness(0.9);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    main {
        .sectionOrder {
            align-items: center;
            flex-direction: column;

            .divOrder {
                width: 100%;
                flex-direction: column;
                gap: 1em;
            }

            .orderSummary {
                width: 50vw;
                min-width: 30em;
                height: 30em;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    main {
        .sectionOrder {
            .divOrder {
                .personalData {
                    .dataContainer {
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr auto 1fr;

                        .hrData {
                            width: 100%;
                            height: 0;
                        }
                    }
                }

                .shippingCart {
                    .cart {
                        .dataProduct {
                            thead {
                                display: none;
                            }

                            tr {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 1em;
                                padding: 1em 0;

                                td {
                                    font-size: 2rem;

                                    p {
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .orderSummary {
                h2 {
                    top: 65%;
                }
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    main {
        .statusOrder {
            display: none;
        }

        .sectionOrder {
            .divOrder {
                .personalData {
                    .dataContainer {
                        .enderecoContainer {
                            margin-top: -40px;

                            .dataEnd {
                                grid-template-columns: 1fr;
                                grid-template-rows: 1fr;
                            }
                        }
                        .hrData {
                            margin-top: -55px;
                        }
                    }
                }

                .shippingCart {
                    .delivery {
                        .dataDelivery {
                            flex-direction: column;
                            gap: 2em;

                            .term {
                                text-indent: 0;
                            }
                        }
                    }
                }
            }

            .orderSummary {
                width: 90vw;
                min-width: 0;

                h2 {
                    top: 65%;
                }
            }
        }
    }
}
