$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #db3ca6;

$color-bgLight: #f9fbfb;
$color-bgDark: #2d2d2d;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

main {
    .titleContainers {
        display: flex;
        align-items: center;
        gap: 0.5em;
        padding: 0.5em 1em;
        border-bottom: 2px solid $color-primaryLight;

        .iconOrder {
            width: clamp(28px, 4vw, 36px);
            height: clamp(28px, 4vw, 36px);
        }

        h3 {
            font-weight: 500;
            font-size: clamp(1.8rem, 1.4vw, 2.2rem);
            font-family: $font-title;
        }
    }

    .orderSection {
        display: grid;
        gap: 1em;
        font-family: $font-items;

        .shippingCartWrapper {
            width: 100%;
            margin: auto;
            display: flex;
            gap: 1em;

            .orderContent {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 1em;

                .shippingCart {
                    background: $color-bgLight;
                    box-shadow: 4px 4px 15px $color-shadow;
                    border-radius: 15px;
                    font-family: $font-items;
                }
            }

            .paymentDetails {
                flex: 1;
            }
        }
    }
}

.dark {
    main {
        .titleContainers {
            border-bottom: 2px solid $color-primaryDark;
        }

        .loadingOrder {
            background-color: #72757478;
            box-shadow: 0 0 15px #141414a8;
        }

        .shippingCartWrapper {
            .orderContent {
                .shippingCart {
                    background-color: #72757478;
                    box-shadow: 0 0 15px #141414a8;

                    .delivery {
                        .dataDelivery {
                            span {
                                color: $color-detailsDark;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 764px) {
    main {
        .orderSection {
            .shippingCartWrapper {
                display: grid;
            }
        }
    }
}
