$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #10A88D;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgDark: #2D2D2D;
$color-bgLight: #F9FBFB;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.menuNav {
    color: $color-fontDark;

    .menuButton {
        background: transparent;
        border: none;
        cursor: pointer;

        .menuIcon {
            color: $color-fontDark;
            margin: 20px;
            height: 32px;
            width: 32px;
        }
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #12171780;
        z-index: 90;
        opacity: 0;
        display: none;
    
        &.active {
            animation: modal 0.2s ease-in forwards;
            display: block;
        }
    }

    .menuMobile {
        width: 8em;
        position: absolute;
        background-color: $color-secundaryLight;
        top: -12px;
        right: -4em;
        z-index: 999;
        border-radius: 0 0 0 20px;
        animation: menuMob 0.5s ease-in-out forwards;
        opacity: 0;
        display: none;
        
        &.active {
            display: block;
        }

        .navegacao {
            padding: 20px 5px 20px 0;
            display: flex;
            flex-direction: column;

            .linkNav {
                padding: 20px 15px 5px;
                transition: .2s ease-in;
                color: $color-fontDark;
                display: flex;
                align-items: center;
                gap: 1em;

                .favoriteIcon,
                .userIcon,
                .cartIcon {              
                    height: 32px;
                    width: 32px;
                }
        
                &:hover {
                    background-color: $color-secundaryDark;
                    text-decoration: underline;
                }
            }
        }
    }
}

@keyframes menuMob {
    to {
        transform: translateX(-3.5em);
        opacity: 1;
    }
}

@keyframes modal {
    to {
        opacity: 1;
    }
}

.shrink {
    .modal {
        left: -5em;
        width: 120vw;
    }
    .menuMobile {
        right: -5em;
    }
}