$color-fontLight: #121717;
$color-shadow: #12171740;

.scrollBtn {
    cursor: pointer;

    .progressBar {
        position: fixed;
        right: 16px;
        bottom: 16px;
        z-index: 999;
        display: grid;
        place-items: center;
        width: clamp(48px, 5vw, 56px);
        height: clamp(48px, 5vw, 56px);
        border-radius: 50%;
        box-shadow: 0 0 10px $color-shadow;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition:
            opacity 0.3s,
            visibility 0.3s;

        &.visible {
            opacity: 1;
            visibility: visible;
            pointer-events: all;

            animation:
                appearScrollButton 0.6s ease-in-out,
                isBouncing 1.2s ease-in-out 0.6s infinite alternate;
        }

        .arrowUp {
            display: grid;
            place-items: center;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            border-radius: 50%;
            color: $color-fontLight;
        }
    }
}

@keyframes appearScrollButton {
    0% {
        opacity: 0;
        transform: translateY(-100vh);
    }
    90% {
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(10px);
    }
}

@keyframes isBouncing {
    to {
        transform: translateY(10px);
    }
}
