$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #0d977e;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #c75ea3;

$color-bgDark: #2d2d2d;
$color-bgLight: #f9fbfb;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.containerHistory {
    padding-bottom: 3em;
    width: 100%;
    text-align: center;
    overflow-y: auto;
    max-height: 22.5em;

    &::-webkit-scrollbar {
        display: none;
    }

    ul {
        padding: 1em;
        flex-direction: column;
        display: flex;
        text-align: left;

        .itensCompra {
            margin: 0.5em 0;
            font-family: $font-items;
            border: $color-primaryLight solid 3px;
            border-left: $color-primaryLight solid 10px;
            border-radius: 15px;
            padding: 1em;
            background-color: #dce0e050;
            cursor: pointer;
            font-size: 1.8rem;
            box-shadow: 0 0 10px $color-shadow;

            .details {
                display: flex;
                justify-content: space-evenly;
                text-align: center;
            }

            .bold {
                font-weight: bold;
            }

            .greenStatus {
                color: #0b806a;
            }
            .statusColor {
                color: #eb6a00;
            }
        }
    }

    .btnMost {
        font-weight: bold;
        color: $color-primaryLight;
        cursor: pointer;
        text-decoration: underline;
        font-size: 1.8rem;
    }
}

.dark {
    .containerHistory {
        ul {
            .itensCompra {
                border: $color-primaryDark solid 3px;
                border-left: $color-primaryDark solid 10px;
                background-color: #dce0e081;
                color: $color-fontLight;
                box-shadow: 0 0 10px #141414a8;

                .greenStatus {
                    color: #115c45;
                }
                .statusColor {
                    color: #dfb80d;
                }
            }
        }

        .btnMost {
            color: $color-primaryDark;
        }
    }
}

@media only screen and (max-width: 580px) {
}
