$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #0d977e;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgDark: #2D2D2D;
$color-bgLight: #F9FBFB;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.login-form-container {
  border-radius: 20px;
  width: auto;
  justify-content: center;
  margin: 3.1em auto 2em;
  padding: 2em 0;
  display: flex;
  background-color: #e8f1f078;
  box-shadow: 4px 4px 4px $color-shadow;
  position: relative;

  h2 {
    font-size: 3.8rem;
    font-family: $font-title;
    text-align: left;
    width: 8.5em;
  }

  .loginCredencial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2.5em;

    .btnCredencials {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 1.5em;

      button {
        width: 20em;
        height: 4em;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        box-shadow: 4px 4px 4px $color-shadow;

        &:hover {
          filter: brightness(.8);
        }
      }
    }
  }

  .containerSeparate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3em;
    height: 25em;
    color: $color-primaryLight;
    gap: .5em;

    hr {
      border: none;
      background-color: $color-primaryLight;
      width: 3px;
      height: 50%;
      border-radius: 5px;
    }

    h3 {
      font-family: $font-items;
      font-size: 2rem;
    }
  }

  .login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2.5em;

    .inputsLogin {
      display: flex;
      flex-direction: column;
      gap: 1.5em;
    }

    .btnLoginForm {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 1em;

      button {
        font-size: 2rem;
        width: 10em;
        height: 2.5em;
        border-radius: 5px;
        border: none;
        background-color: $color-primaryLight;
        color: $color-fontLight;
        cursor: pointer;
        box-shadow: 2px 2px 4px $color-shadow;

        &:hover {
          filter: brightness(.9);
        }
      }
    }
  }
}

.dark {
  .login-form-container {
    background-color: #e8f1f078;
    box-shadow: 4px 4px 8px #b1b9b978;
  
    .loginCredencial {  
      .btnCredencials {        
        button {
          box-shadow: 4px 4px 4px $color-shadow;
        }
      }
    }
  
    .containerSeparate {
      color: $color-primaryDark;
  
      hr {
        background-color: $color-primaryDark;
      }
    }
  
    .login {  
      .btnLoginForm {
        button {
          background-color: $color-primaryDark;
          color: $color-fontDark;
          box-shadow: 2px 2px 4px $color-shadow;
        }
      }
    }
  }  
}

@media only screen and (max-width: 1024px) {
  .login-form-container {
    flex-direction: column;
  
    .loginCredencial {
      flex-direction: column;

      .btnCredencials {
        flex-direction: row;  
        
        button {
          width: 15em;
          height: 3.5em;
        }
      }
    }
  
    .containerSeparate {
      flex-direction: row;
      height: 8em;
  
      hr {
        width: 60%;
        height: 3px;
      }
    }
  
    .login {
      align-items: center;
    }
  }  
}

@media only screen and (max-width: 600px) {
  .login-form-container {
    border-radius: 20px;
    width: 70%;
    margin: 8em auto 5em;
    padding: 2em;
    display: flex;
    justify-content: center;
    background-color: #e8f1f078;
    box-shadow: 4px 4px 4px $color-shadow;
  
    h2 {
      font-size: 3.8rem;
      font-family: $font-title;
      text-align: left;
    }
  
    .loginCredencial {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  
      .btnCredencials {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 1.5em;
  
        
        button {
          width: 20em;
          height: 4em;
          border-radius: 10px;
          border: none;
          cursor: pointer;
          box-shadow: 4px 4px 4px $color-shadow;
  
          &:hover {
            filter: brightness(.8);
          }
        }
      }
    }
  
    .containerSeparate {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 3em;
      height: 25em;
      color: $color-primaryLight;
      gap: 10px;
  
      hr {
        border: none;
        background-color: $color-primaryLight;
        width: 3px;
        height: 50%;
        border-radius: 5px;
      }
  
      h3 {
        font-family: $font-items;
        font-size: 2rem;
      }
    }
  
    .login {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  
      .inputsLogin {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
  
      .btnLoginForm {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 1em;
  
        button {
          font-size: 2rem;
          width: 10em;
          height: 2.5em;
          border-radius: 5px;
          border: none;
          background-color: $color-primaryLight;
          color: $color-fontLight;
          cursor: pointer;
          box-shadow: 2px 2px 4px $color-shadow;
  
          &:hover {
            filter: brightness(.9);
          }
        }
      }
    }
  }  
}