$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #10A88D;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgDark: #2D2D2D;
$color-bgLight: #F9FBFB;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.singleInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;

  input  {
    background-color: $color-card;
    border: 2px solid $color-shadow;
    color: $color-fontLight;
    font-size: 2.4rem;
    padding: .5em 1em .3em;
    max-width: 18em;
    border-radius: 15px;
    transition: border-color 0.3s ease;
    cursor: text;
    font-family: $font-web;
    box-shadow: 2px 2px 4px $color-shadow;
    transition: .2s ease-in-out;

    &:disabled {
      background-color: #eee;
      opacity: 0.5;
      cursor: not-allowed; 
    }

    &:focus {
      box-shadow: 0px 0px 15px $color-shadow;
    }
    
    &:valid {
      border: none;
      box-shadow: 0px 0px 15px $color-primaryDark;
    }

    &:disabled + label {
      top: -8px;
      opacity: 1;
    }

    &:focus + label {
      top: -8px;
      opacity: 1;
    }

    &:valid + label {
      top: -8px;
      opacity: 1;
      color: $color-primaryDark;
    }

    &:not(:placeholder-shown) + label {
      top: -8px;
      opacity: 1;
    }

    &:placeholder-shown + label {
      top: 50%;
      transform: translateY(-50%);
      opacity: .6;
    }
  }

  input[type="file"] + label,
  input[type="date"] + label {
    top: -10px;
  }

  label {
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    opacity: .6;
    padding: 0 10px;
    transition: .2s ease-in-out;
    cursor: text;
  }
}

.dark {
  .singleInput {
    input {
      background-color: #e8f1f0a6;
 
      &:focus {
        box-shadow: 0px 0px 15px $color-shadow;
      }
      &:valid {
        border: none;
        box-shadow: 0px 0px 15px $color-primaryDark;
      }
  
      &:focus + label {
        color: $color-fontDark;
      }
      &:valid + label {
        color: $color-fontDark;
      }
    }

    label {
      background: transparent;
      color: $color-fontLight;
    }
  }
}