$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #10A88D;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgDark: #2D2D2D;
$color-bgLight: #F9FBFB;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.singleInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;

  input {
    background-color: $color-card;
    border: 2px solid $color-shadow;
    color: $color-fontLight;
    font-size: 2.4rem;
    padding: .5em 1em .3em;
    border-radius: 15px;
    transition: border-color 0.3s ease;
    cursor: text;
    font-family: $font-web;
    box-shadow: 2px 2px 4px $color-shadow;

    &:disabled {
      background-color: #eee;
      cursor: not-allowed;
    }
  }

  label {
    background: linear-gradient( #F1F6F6, #F2F9F8);
    position: absolute;
    top: -10px;
    left: 15px;
    padding: 0 10px;
  }
}

.dark {
  .singleInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    position: relative;
  
    input {
      background-color: #e8f1f078;
      border: 2px solid $color-shadow;
      color: $color-fontLight;
      box-shadow: 2px 2px 4px $color-shadow;
  
      &:disabled {
        background-color: #eee;
        cursor: not-allowed;
      }
    }
  
    label {
      color: $color-fontLight;
      background: linear-gradient(#858989, transparent) ;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .singleInput {
    width: 100%;
  
    input {
      border: 2px solid $color-shadow;
      font-size: 2.4rem;
      padding: .5em 1em .3em;
      box-shadow: 2px 2px 4px $color-shadow;
    }
  
    label {
      top: -10px;
      left: 15px;
      padding: 0 10px;
    }
  }
}