$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #c75ea3;

$color-bgLight: #f9fbfb;
$color-bgDark: #2d2d2d;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.brandCard {
    width: 20em;
    height: 12.5em;
    background-color: #f6fefd4d;
    padding: 10px 0 0;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 15px $color-shadow;
    transition: 0.5s ease;

    .brandImage {
        width: 85%;
        height: 100px;
        margin: 1em 0;
        object-fit: contain;
        border-radius: 10px;
    }

    .brandName {
        font-family: $font-title;
        text-transform: uppercase;
        transition: 0.3s ease;
    }
}

.dark {
    .brandCard {
        background-color: $color-secundaryLight;
        box-shadow: 0 0 10px $color-card;
    }
}
