$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #33a597;
$color-detailsDark: #c75ea3;

$color-bgDark: #2d2d2d;
$color-bgLight: #f9fbfb;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.infosContent {
    display: grid;
    align-items: center;
    gap: clamp(1em, 2vw, 1.5em);
    background-color: $color-primaryLight;
    color: $color-fontLight;
    border-radius: 50px;
    padding: 0.5em 1em;
    width: auto;
    box-shadow: 2px 2px 4px $color-shadow;
    position: absolute;
    top: -14%;
    left: 10%;
    grid-template-areas: 'service phone mail';
    grid-template-columns: repeat(3, auto);

    .containerService {
        grid-area: service;
        display: flex;
        align-items: center;
        gap: 0.5em;

        p {
            font-size: clamp(1.4rem, 1rem + 0.5vw, 1.6rem);
            max-width: 20em;
        }
    }

    .containerPhone {
        grid-area: phone;
        display: flex;
        align-items: center;
        gap: 0.5em;

        p {
            font-size: clamp(1.4rem, 1rem + 0.5vw, 1.6rem);
        }
    }

    .containerMail {
        grid-area: mail;
        display: flex;
        align-items: center;
        gap: 0.5em;

        p {
            font-size: clamp(1.4rem, 1rem + 0.5vw, 1.6rem);
        }
    }

    .containerService,
    .containerPhone,
    .containerMail {
        .containerIcon {
            position: relative;
            border-radius: 50%;
            background-color: $color-terciaryLight;
            box-shadow: 2px 2px 4px $color-shadow;
            padding: clamp(1em, 2vw, 1.5em);

            .icon {
                position: absolute;
                width: clamp(20px, 4vw, 36px);
                height: clamp(20px, 4vw, 36px);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.dark {
    .infosContent {
        background-color: $color-primaryDark;
        color: $color-fontDark;

        .containerService,
        .containerPhone,
        .containerMail {
            .containerIcon {
                background-color: $color-terciaryDark;
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    .infosContent {
        top: -10%;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
    }
}

@media only screen and (max-width: 800px) {
    .infosContent {
        border-radius: 10px;
        padding: 1em;
        width: 475px;

        grid-template-areas:
            'phone mail'
            'service service';
        grid-template-columns: repeat(2, 1fr);

        .containerService p {
            max-width: 30em;
        }

        .containerMail {
            justify-content: center;
            text-align: center;

            p {
                text-align: left;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .infosContent {
        width: 95%;

        grid-template-areas:
            'service'
            'phone'
            'mail';
        grid-template-columns: 1fr;

        .containerService p {
            max-width: 30em;
        }

        .containerService,
        .containerPhone,
        .containerMail {
            justify-content: flex-start;
            width: 100%;
        }
    }
}
