$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #db3ca6;

$color-bgLight: #f9fbfb;
$color-bgDark: #2d2d2d;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.mainFilters {
    display: flex;
    min-height: 100svh;
    padding-block: 8em 4em;

    .filteredDataContainer {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-inline: 2em;
        border-left: 2px solid $color-primaryLight;

        .emptyFilterMessage {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            gap: 3em;
            padding: 4em;
            border-radius: 15px;
            width: 100%;
            box-shadow: 0 0 8px $color-shadow;

            .textEmpty {
                text-align: center;
                font-family: $font-title;
                font-size: clamp(1.8rem, 1rem + 1vw, 2.4rem);
            }

            .btnBackFilter {
                border: none;
                padding: 0.75em 1.5em;
                border-radius: 10px;
                font-family: $font-title;
                background: $color-primaryLight;
                box-shadow: 0 0 8px $color-shadow;
                font-size: 2rem;
                cursor: pointer;
                position: relative;
                transition: 0.3s ease;

                &:hover {
                    filter: brightness(1.1);
                    box-shadow: 0 0 12px $color-primaryLight;
                }
            }
        }

        .productsList {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1em;
        }

        .cardList {
            display: grid;
            grid-template-columns: 1fr;
        }

        .loadingProducts {
            height: 10em;
        }
    }
}

.dark {
    .mainFilters {
        .filteredDataContainer {
            border-left: 2px solid $color-primaryDark;

            .emptyFilterMessage {
                box-shadow: 0 0 10px #141414a8;

                .btnBackFilter {
                    background: $color-primaryDark;
                    box-shadow: 0 0 10px #141414a8;

                    &:hover {
                        box-shadow: 5px 10px 5px #141414a8;
                    }

                    &:active {
                        box-shadow: 2px 5px 5px #141414a8;
                    }
                }
            }

            ul {
                li {
                    border-bottom: 1px solid #ccc;

                    &:last-child {
                        border-bottom: none;
                    }

                    &:hover {
                        background-color: #3f4141;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    .mainFilters {
        .filteredDataContainer {
            .productsList {
                grid-template-columns: repeat(3, 1fr);
            }

            .cardList {
                grid-template-columns: 1fr;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .mainFilters {
        flex-direction: column;
        padding-inline: 2em;
        padding-top: 6.5em;

        .filteredDataContainer {
            flex-direction: column;
            padding: 1em 0 0;
            border-top: 2px solid $color-primaryLight;
            border-left: none;
        }
    }
}

@media only screen and (max-width: 650px) {
    .mainFilters {
        .filteredDataContainer {
            .productsList {
                grid-template-columns: repeat(2, 1fr);
            }

            .cardList {
                grid-template-columns: 1fr;
            }
        }
    }
}

@media only screen and (max-width: 475px) {
    .mainFilters {
        padding-inline: 1em;

        .filteredDataContainer {
            .productsList {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}
