$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #7b1559;

$color-bgDark: #2d2d2d;
$color-bgLight: #f9fbfb;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.modalFav {
    display: grid;
    place-items: right;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #12171780;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    pointer-events: none;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .menuFavorite {
        background-color: $color-bgLight;
        width: 40%;
        height: 100vh;
        position: absolute;
        z-index: 999;
        border-radius: 10px 0 0 10px;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform 0.5s ease;
        overflow-y: auto;
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.active {
            transform: translateX(0);
        }

        .iconClose {
            display: none;
            top: 15px;
            right: 10px;
            cursor: pointer;
            border-radius: 50%;
            background-color: $color-bgLight;
            position: absolute;
            width: clamp(32px, 2.5vw, 42px);
            height: clamp(32px, 2.5vw, 42px);
            box-shadow: 0 0 8px $color-shadow;
            transition: all 0.2s ease;

            &:hover {
                background-color: darken($color-bgLight, 5%);
                box-shadow: 0 0 12px $color-shadow;
                transform: scale(1.05);
            }
        }

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 1em 0;

            h2 {
                font-family: $font-title;
                white-space: nowrap;
                font-size: clamp(2rem, 1.8rem + 0.8vw, 2.8rem);
                padding: 0 10px;
            }

            hr {
                width: 50%;
                height: 0;
                border: 2px solid $color-primaryLight;
            }
        }

        .emptyFavMessage {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            background: $color-card;
            width: 90%;
            gap: 1em;
            padding: 2em 0;
            border-radius: 15px;
            box-shadow: 0 0 8px $color-shadow;

            .textEmpty {
                font-family: $font-title;
                font-size: clamp(1.8rem, 1.4rem + 0.8vw, 2.2rem);
            }

            .btnBack {
                font-family: $font-items;
                border: none;
                padding: 0.5em 1.5em;
                border-radius: 10px;
                background: $color-primaryLight;
                box-shadow: 2px 2px 8px $color-shadow;
                font-size: clamp(1.6rem, 1.3rem + 0.5vw, 2rem);
                cursor: pointer;
                position: relative;
                transition: 0.3s ease;

                &:hover {
                    filter: brightness(0.95);
                    box-shadow: 5px 5px 30px $color-shadow;
                }
            }
        }

        .listaFavoritos {
            padding: 0 1em 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1em;
            width: 100%;

            .itemFav {
                width: 100%;
                height: 15em;
                padding: 1em 3em 4em 1em;
                position: relative;
                display: flex;
                background: $color-bgLight;
                box-shadow: 2px 2px 8px $color-shadow;
                border-radius: 5px;

                .favLink {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    gap: 1em;

                    .offerDescont {
                        background-color: $color-detailsLight;
                        padding: 10px 5px;
                        font-size: clamp(1.2rem, 0.2rem + 1vw, 1.4rem);
                        text-align: center;
                        z-index: 10;
                        color: $color-fontDark;
                        border-radius: 5px;
                        position: absolute;
                        top: 5px;
                        left: 5px;
                    }

                    .productImage {
                        width: clamp(6em, 6vw, 8em);
                        height: clamp(8em, 8vw, 10em);
                        padding: 0.5em;
                        border-radius: 5px;
                        object-fit: contain;
                        background: $color-bgLight;
                    }

                    .productDetails {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .productName {
                            font-size: clamp(1.4rem, 1.1rem + 0.6vw, 1.8rem);
                            margin-bottom: 0.5em;
                        }

                        .pricingContainer {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5em;

                            .offerPrice {
                                color: $color-detailsLight;
                                text-decoration: line-through;
                                font-size: clamp(1.4rem, 1rem + 0.4vw, 1.6rem);
                                opacity: 1;
                                visibility: visible;
                                line-height: 2;
                                transition: 0.2s ease-in-out;
                            }

                            .productPrice {
                                font-size: clamp(1.2rem, 1rem + 0.3vw, 1.4rem);
                                font-weight: 500;
                                line-height: 1.2;

                                span {
                                    font-weight: 700;
                                    color: $color-primaryLight;
                                    font-size: clamp(
                                        1.8rem,
                                        1.4rem + 0.8vw,
                                        2.2rem
                                    );
                                }
                            }
                        }
                    }

                    .containerInfosFav {
                        .iconFav {
                            cursor: pointer;
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            color: $color-primaryLight;
                            width: clamp(28px, 2vw, 36px);
                            height: clamp(28px, 2vw, 36px);
                        }
                    }

                    &:hover {
                        .productDetails {
                            .productName {
                                margin-bottom: 0.5em;
                            }
                        }
                    }
                }

                .btnAdd {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.75em;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border-radius: 5px;
                    background-color: $color-primaryLight;
                    color: $color-fontDark;
                    font-family: $font-items;
                    box-shadow: 0 0 10px $color-primaryDark;
                    border: none;
                    width: 100%;
                    font-size: 1.6rem;
                    padding: 0.8em 0;
                    transition: 0.5s ease-out;
                    cursor: pointer;

                    &:hover {
                        filter: brightness(0.95);
                        box-shadow: 0 0 24px $color-primaryLight;
                    }

                    .iconAdd {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
}

.dark {
    .modalFav {
        .menuFavorite {
            background-color: $color-bgDark;

            .title {
                hr {
                    border: 2px solid $color-primaryDark;
                }
            }

            .listaFavoritos {
                .itemFav {
                    background-color: #72757478;
                    box-shadow: 0 0 15px #141414a8;

                    .favLink {
                        color: $color-fontDark;

                        .containerInfosFav {
                            .iconFav {
                                color: $color-primaryDark;
                            }
                        }

                        .offerDescont {
                            background-color: $color-detailsDark;
                        }

                        .productDetails {
                            .offerPrice {
                                color: $color-detailsDark;
                            }

                            .productPrice {
                                span {
                                    color: $color-primaryDark;
                                }
                            }
                        }
                    }

                    .btnAdd {
                        background-color: $color-primaryDark;
                        box-shadow: 0 0 10px $color-primaryDark;

                        &:hover {
                            filter: brightness(1.1);
                            box-shadow: 0 0 24px $color-primaryDark;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    .modalFav {
        .menuFavorite {
            width: 60%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .modalFav {
        .menuFavorite {
            width: 100%;

            .iconClose {
                display: block;
            }
        }
    }
}
