$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #c75ea3;

$color-bgLight: #f9fbfb;
$color-bgDark: #2d2d2d;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.offers {
    margin: 0 auto;
    padding-top: 1em;

    .offersList {
        cursor: grab;

        .splide {
            padding-inline: 5em;

            .splide__slide {
                padding-bottom: 1em;
                width: 280px;
            }

            .splide__pagination__page {
                display: none;
            }

            .splide__arrow {
                &.splide__arrow--prev,
                &.splide__arrow--next {
                    font-size: 2rem;
                    transition: 0.3s ease;
                    background-color: $color-primaryLight;
                    box-shadow: 2px 2px 4px $color-shadow;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }

        &:active {
            cursor: grabbing;
        }
    }
}

@media only screen and (max-width: 800px) {
    .offers {
        .offersList {
            .splide {
                padding-inline: 0;

                .splide__arrow {
                    &.splide__arrow--prev,
                    &.splide__arrow--next {
                        display: none;
                    }
                }
            }
        }
    }
}
