$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #10A88D;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgLight: #F9FBFB;
$color-bgDark: #2D2D2D;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

main {
    .offers {
        width: 90%;
        margin: 0 auto;
        padding-top: .5em;

        .offersList {
            display: flex;
            justify-content: center;
            flex-direction: row;

            .splide__list {
                margin: auto;
                width: 85vw;
            }
            
            .splide__slide {
                margin-right: -5em;
            }

            .splide__pagination__page {
                display: none;
            }
            
            .splide__arrow {
                &.splide__arrow--prev,
                &.splide__arrow--next {
                    font-size: 2.2rem;
                    transition: 0.3s ease;
                    background-color: $color-primaryLight;
                    box-shadow: 2px 2px 4px $color-shadow;
                
                    &:hover {
                        opacity: .8;
                    }
                }

                &.splide__arrow--prev {
                    left: -3em;
                }
                &.splide__arrow--next {
                    right: -3em;
                }
            }
        }
    }
}

@media only screen and (max-width: 1340px) {
    main {
        .offers {
            .offersList {   
                .splide__list {
                    width: 82vw;
                }
                .splide__slide {
                    margin-right: -2em;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    main {
        .offers {
            .offersList {   
                .splide__list {
                    width: 77vw;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    main {
        .offers {
            .offersList {   
                .splide__list {
                    width: 75vw;
                }
                .splide__slide {
                    margin-right: 0;
                    padding-left: 2em;
                }
                .splide__arrow {   
                   display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    main {
        .offers {
            .offersList {   
                .splide__list {
                    width: 77vw;
                }
                .splide__slide {
                    margin-right: 1em;
                    padding-left: .5em;
                }
            }
        }
    }
}
@media only screen and (max-width: 375px) {
    main {
        .offers {
            .offersList {
                .splide__slide {
                    padding-left: .3em;
                }
            }
        }
    }
}