$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #c75ea3;

$color-bgLight: #f9fbfb;
$color-bgDark: #2d2d2d;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.offers {
    width: 90%;
    margin: 0 auto;
    padding-top: 0.5em;

    .offersList {
        display: flex;
        justify-content: center;
        flex-direction: row;
        cursor: grab;

        .splide__list {
            margin: auto;
            width: 85vw;
        }

        .splide__slide {
            padding-bottom: 1em;
        }

        .splide__pagination__page {
            display: none;
        }

        .splide__arrow {
            &.splide__arrow--prev,
            &.splide__arrow--next {
                font-size: 2.2rem;
                transition: 0.3s ease;
                background-color: $color-primaryLight;
                box-shadow: 2px 2px 4px $color-shadow;

                &:hover {
                    opacity: 0.8;
                }
            }

            &.splide__arrow--prev {
                left: -3em;
            }
            &.splide__arrow--next {
                right: -3em;
            }
        }

        &:active {
            cursor: grabbing;
        }
    }
}
