$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #10A88D;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgLight: #F9FBFB;
$color-bgDark: #2D2D2D;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;


.descont {
  position: relative;

  .offerCard {
    overflow: hidden;
    width: 18em;
    height: 25em;
    background-color: #f6fefd4d;
    margin: 1em 0;
    border-radius: 10px;
    text-align: left;
    box-shadow: 2px 2px 8px $color-shadow;
    cursor: pointer;
    font-family: $font-items;
    position: relative;
 
    .offerDescont {
      background-color: $color-detailsLight;
      padding: 12px 6px;
      z-index: 10;
      width: 36px;
      color: $color-fontDark;
      border-radius: 5px;
    
      position: absolute;
      top: 2px;
      right: 5px;
    }

    .offerImage {
      width: 100%;
      height: 10em;
      padding: 10px 10px 0;
      object-fit: contain;
      margin-right: 16px;
    }

    .offerDetails {
      overflow-y: hidden;
      position: relative;
      padding-bottom: 3.8em;
      width: 100%;
      height: 15em;
      border-radius: 10px;

      .offerName {
        font-size: 1.7rem;
        margin-bottom: 8px;
        font-weight: 700;
        padding: 0 10px;
      }

      .offerPrice {
        color: $color-detailsLight;
        text-decoration: line-through;
        font-size: 1.8rem;
        opacity: 1;
        visibility: visible;
        line-height: 2;
        padding: 0 10px;
        transition: .2s ease-in-out;
      }

      .offerPriceDescont {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.2;
        padding: 0 10px;
        transition: .7s ease;
    
        span {
          font-weight: 700;
          color: $color-primaryLight;
          font-size: 3.6rem;
        }
      }
    }
    .btnAdd {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5em;
      position: absolute;
      bottom: -70px;
      left: 0;
      border-radius: 10px;
      background-color: $color-primaryLight;
      color: $color-fontDark;
      box-shadow: 0 0 10px $color-primaryDark;
      border: none;
      width: 100%;
      font-size: 2rem;
      font-family: $font-title;
      padding: .8em 0;
      transition: .5s ease-out;
      cursor: pointer;

      &:hover {
        filter: brightness(1.1);
        box-shadow: 0 0 40px $color-primaryLight;
      }
      
      .iconAdd {
        width: 24px;
        height: 24px;
      }
    }

    &:hover {
      .offerDetails {
        padding-bottom: 4em;

        .offerPrice {
          opacity: 0;
        }

        .offerPriceDescont {
          margin-top: -24px;
        }

      }
      .btnAdd {
        bottom: 0;
      }
    }
  }
}

.dark { 
  .descont {
    .offerCard {
      .offerDetails {
        .offerPriceDescont {    
          span {
            color: $color-primaryDark;
          }
        }

        .btnAdd {
          background-color: $color-primaryDark;

          &:hover {
            filter: brightness(1.1);
            box-shadow: 0 0 40px $color-primaryDark;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .descont {
    .offerCard {    
      .offerImage {
        height: 8.5em;
      }
      
      .offerDetails { 
        height: 17em;
        .offerName {
          margin-bottom: 0em;
        }

        .btnAdd {
          bottom: 0;
        }
      }
    
      &:hover {
        .offerDetails {
          padding-bottom: 0;
    
          .offerPrice {
            opacity: 1;
          }
    
          .offerPriceDescont {
            margin-top: 0px;
          }
        }
      }
    }
  }
}