$color-primaryLight: #36CEC4;

$color-primaryDark: #10A88D;

$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.productCard {
  width: 18em;
  height: 25em;
  background-color: $color-card;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 2px 2px 8px $color-shadow;
  cursor: pointer;
  font-family: $font-items;
  overflow: hidden;
  position: relative;
  transition: .5s ease-in-out;

  .productImage {
    width: 100%;
    height: 10em;
    object-fit: contain;
    margin-right: 16px;
  }

  .productDetails {
    flex-grow: 1;


    .productName {
      font-size: 1.7rem;
      margin-bottom: 24px;
      font-weight: 700;
      transition: .5s ease-in-out;
    }

    .productPrice {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.2;

      span {
        font-weight: 700;
        color: $color-primaryLight;
        font-size: 3.6rem;
      }
    }
  }

  .btnAdd {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    position: absolute;
    bottom: -70px;
    left: 0;
    border-radius: 10px;
    background-color: $color-primaryLight;
    color: $color-fontDark;
    font-family: $font-items;
    box-shadow: 0 0 10px $color-primaryDark;
    border: none;
    width: 100%;
    font-size: 2rem;
    padding: .8em 0;
    transition: .5s ease-out;
    cursor: pointer;

    &:hover {
      filter: brightness(1.1);
      box-shadow: 0 0 40px $color-primaryLight;
    }

    .iconAdd {
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    .productDetails {
      .productName {
        margin-bottom: 8px;
      }
    }
    .btnAdd {
      bottom: 0;
    }
  }
}

.dark {
  .productCard {
    .productDetails {
      color: $color-fontDark;
      
      .productPrice {
        span {
          color: $color-primaryDark;
        }
      }
    }

    .btnAdd {
      background-color: $color-primaryDark;
      
      &:hover {
        filter: brightness(1.1);
        box-shadow: 0 0 40px $color-primaryDark;
      }
    }
  }
}

@keyframes gradient {
  from {
      background-position: 0 50%;
  }
  to {
      background-position: 100% 50%;
  }
}

@media only screen and (max-width: 500px) {
  .productCard {    
    .productImage {
      height: 9em;
    }
  
    .productDetails {  
      .productName {
        margin-bottom: 1em;
      }
    }
  
    .btnAdd {
      bottom: 0;
    }

    &:hover {
      .productDetails {
        .productName {
          margin-bottom: 1em;
        }
      }
    }
  }
}