$color-primaryLight: #36CEC4;

$color-primaryDark: #10A88D;

$color-bgLight: #F9FBFB;
$color-bgDark: #2D2D2D;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;


.productCard {
  width: 18em;
  height: 25em;
  background-color: $color-card;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 2px 2px 8px $color-shadow;
  cursor: pointer;
  font-family: $font-items;

  .productImage {
    width: 15em;
    height: 10em;
    object-fit: contain;
    margin-right: 16px;
  }

  .productDetails {
    flex-grow: 1;
  }

  .productName {
    font-size: 1.7rem;
    margin-bottom: 10px;
    font-weight: 700;
  }

  .productPrice {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;

    span {
      font-weight: 700;
      color: $color-primaryLight;
      font-size: 3.6rem;
    }
  }
}