$color-primaryLight: #36cec4;

$color-primaryDark: #10a88d;

$color-bgLight: #f9fbfb;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefdd2;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.productCard {
    background-color: $color-card;
    border-radius: 10px;
    text-align: left;
    box-shadow: 2px 2px 8px $color-shadow;
    cursor: pointer;
    font-family: $font-items;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    .productLink {
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex: 1;

        .iconFav {
            cursor: pointer;
            position: absolute;
            top: 5px;
            left: 5px;
            color: $color-primaryLight;
            float: right;
            width: 26px;
            height: 26px;
            z-index: 1;
        }

        .productImage {
            width: 100%;
            height: 8em;
            max-height: 165px;
            border-radius: 10px;
            object-fit: contain;
            margin-right: 16px;
            background: $color-bgLight;
        }

        .productDetails {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            height: auto;
            min-height: 10em;
            justify-content: space-between;
            position: relative;
            z-index: 1;

            .productName {
                font-size: 1.5rem;
                font-weight: 700;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                text-overflow: ellipsis;
            }

            .productPrice {
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1.2;
                transition: transform 0.4s ease-in-out;

                span {
                    font-weight: 700;
                    color: $color-primaryLight;
                    font-size: 2.4rem;
                }
            }
        }
    }

    .btnAdd {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        gap: 0.5em;
        position: absolute;
        bottom: -70px;
        left: 0;
        border-radius: 5px;
        background-color: $color-primaryLight;
        color: $color-fontDark;
        font-family: $font-items;
        box-shadow: 0 0 8px $color-primaryDark;
        border: none;
        width: 100%;
        font-size: 1.4rem;
        padding: 0.75em 0;
        transition: all 0.4s ease-out;
        cursor: pointer;
        z-index: 2;

        &:hover {
            filter: brightness(1.1);
            box-shadow: 0 0 12px $color-primaryLight;
        }

        .iconAdd {
            width: 16px;
            height: 16px;
        }
    }

    &:hover {
        .productDetails {
            .productPrice {
                transform: translateY(-35px);
            }
        }
        .btnAdd {
            bottom: 0;
        }
    }
}

.cardList {
    .productCard {
        position: relative;
        width: auto;
        height: 12em;
        display: flex;
        justify-content: space-between;
        box-shadow: 2px 2px 8px $color-shadow;

        .productLink {
            flex-direction: row;
            width: 100%;
            max-height: 12em;
            min-height: 12em;

            .iconFav {
                top: 5px;
                left: 10px;
                height: 32px;
                width: 32px;
            }

            .productImage {
                height: 100%;
                width: auto;
                min-width: 25%;
                max-width: 25%;
                object-fit: contain;
                background: $color-card;
            }

            .productDetails {
                .productName {
                    font-size: 1.8rem;
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                }
            }
        }

        .btnAdd {
            bottom: 10px;
            right: 10px;
            left: auto;
            font-size: 1.6rem;
            max-width: 35%;

            .iconAdd {
                width: 24px;
                height: 24px;
            }
        }

        &:hover {
            .productDetails {
                .productPrice {
                    transform: translateY(0);
                }
            }
        }
    }
}

.dark {
    .productCard {
        background-color: #72757478;
        box-shadow: 0 0 15px #141414a8;

        .productDetails {
            color: $color-fontDark;

            .productPrice {
                span {
                    color: $color-primaryDark;
                }
            }
        }

        .btnAdd {
            background-color: $color-primaryDark;

            &:hover {
                filter: brightness(1.1);
                box-shadow: 0 0 40px $color-primaryDark;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .productCard {
        .productLink {
            .productDetails {
                .productPrice {
                    span {
                        font-size: 2.4rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 475px) {
    .productCard {
        height: 15em;

        .productLink {
            display: flex;
            flex-direction: row;

            .productImage {
                width: 35%;
                height: 100%;
            }

            .productDetails {
                .productName {
                    font-size: 1.4rem;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                }

                .productPrice {
                    font-size: 1rem;

                    span {
                        font-size: 2.2rem;
                    }
                }
            }
        }

        .btnAdd {
            bottom: 0;
            font-size: 1.4rem;
            position: relative;

            .iconAdd {
                width: 18px;
                height: 18px;
            }
        }

        &:hover {
            .productDetails {
                .productPrice {
                    transform: translateY(0);
                }
            }
        }
    }

    .cardList .productCard {
        padding-bottom: 5em;
        height: 15em;

        .productLink {
            .iconFav {
                left: 5px;
                height: 24px;
                width: 24px;
            }
        }

        .btnAdd {
            font-size: 1.4rem;
            max-width: 100%;
            bottom: 0;
            right: auto;

            .iconAdd {
                width: 24px;
                height: 24px;
            }
        }
    }
}
