$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #10A88D;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgLight: #F9FBFB;
$color-bgDark: #2D2D2D;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.dark {
    background: $color-bgDark;
}

main {
    padding: 6em 0 0;

    .contentAbout, 
    .contentMascot {
        .title {
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                font-family: $font-title;
                font-size: 3rem;
                padding: 0 10px;
            }
            hr {
                width: 50%;
                height: 0;
                border: 2px solid $color-primaryLight;
            }
        }

        .content {
            width: 85%;
            margin: 2em auto 0;
            gap: 2em;
            display: flex;
            align-items: center;
            text-align: justify;

            p {
                width: 50%;
                font-size: 2rem;
            }

            img {
                width: 40em;
                height: 25em;
            }
        }
    }

    .contentValues {
        .content {
            width: 95%;
            margin: 5em auto;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .item {
                background-color: $color-secundaryLight;
                color: $color-fontDark;
                width: 30em;
                height: 20em;
                padding: 10px;
                border-radius: 20px;
                text-align: justify;

                h3 {
                    font-family: $font-title;
                    font-size: 2.4rem;
                    text-align: center;
                }
            
                p {
                    font-size: 2rem;
                }
            }
        }
    }
}