$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;

$color-primaryDark: #10A88D;
$color-secundaryDark: #2D3A3A;

$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #1217176c;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;

main {    
    .contentAbout, 
    .contentMascot {
        width: auto;
        margin: 0 auto;

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: -1em auto 0;

            h2 {
                font-family: $font-title;
                font-size: 4rem;
                padding: 0 10px;
            }

            hr {
                width: 50%;
                height: 0;
                border: 2px solid $color-primaryLight;
            }
        }

        .content {
            width: 85%;
            margin: 2em auto 0;
            gap: 2em;
            display: flex;
            align-items: center;
            text-align: justify;

            p {
                width: 50%;
                text-wrap: balance;
                font-size: 2rem;
            }

            .logoDark, .logoLight,.imgMascot {
                width: 50%;
                height: 30em;
                object-fit: contain;
                filter: drop-shadow( 4px 4px 6px $color-shadow);
            }

            .logoLight {
                display: none;
            }
        }
    }

    .contentValues {
        .content {
            width: 95%;
            margin: 5em auto;
            gap: 1em;
            display: flex;
            align-items: baseline;
            justify-content: space-around;
            flex-wrap: wrap;

            .item {
                background-color: $color-secundaryLight;
                color: $color-fontDark;
                width: 30vw;
                height: 20em;
                padding: 10px;
                text-align: justify;
                border-radius: 20px;
                letter-spacing: 1.5px;
                overflow: hidden;
                box-shadow: 4px 4px 8px $color-shadow;

                h3 {
                    font-family: $font-title;
                    font-size: 2.6rem;
                    text-align: center;
                }
            
                p {
                    text-wrap: balance;
                    font-size: 2.4rem;
                    max-height: 11em;
                    scrollbar-color: $color-secundaryLight;
                    overflow-y: auto;
                    scroll-behavior: smooth;
                    scroll-snap-type: y proximity;
                }
            }
        }
    }
}

.dark {
    .contentAbout, 
    .contentMascot {
        .title {
            hr {
                border: 2px solid $color-primaryLight;
            }
        }

        .content {
            .logoLight {
                display: block;
                filter: drop-shadow( 2px 2px 4px $color-card);
            }

            .logoDark {
                display: none;
            }
        }
    }

    .contentValues {
        .content {
            .item {
                background-color: $color-secundaryDark;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    main {
        margin: 0 0 6em;

        .contentValues {
            .content {
                .item {
                    width: 45vw;
                    text-align: left;
    
                    h3 {
                        font-size: 2.4rem;
                    }
                
                    p {
                        font-size: 2.2rem;
                        max-height: 12em;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    main {
        margin: 0 0 6em;
        
        .contentAbout, 
        .contentMascot {
            .title {
                h2 {
                    font-weight: 800;
                    font-size: 2.6rem;
                }
            }

            .content {
                flex-direction: column;
                gap: 1.5em;

                p {
                    width: 100%;
                    font-size: 1.8rem;
                }

                .logoDark, .logoLight, .imgMascot {
                    width: 100%;
                    height: 15em;
                }
            }
        }

        .contentValues {
            .content {
                margin: 3em auto;
                gap: 1.5em;
                flex-direction: column;

                .item {
                    width: 90%;
                    min-height: 5em;
                    height: auto;
                    margin: auto;
                    text-align: justify;

                    h3 {
                        font-size: 2.2rem;
                    }

                    p {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}