$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;

$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #1217176c;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;

main {
    .aboutContent {
        word-spacing: 5px;

        .title {
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                font-family: $font-title;
                font-size: clamp(2.4rem, 2vw, 2.8rem);
                padding: 0 10px;
            }

            hr {
                width: 50%;
                height: 0;
                border: 2px solid $color-primaryLight;
            }
        }

        .content {
            width: 95%;
            margin: 2em auto 0;
            gap: 2em;
            display: flex;
            align-items: center;

            .textContainer {
                display: flex;
                flex-direction: column;
                gap: 1em;

                .text {
                    font-size: 1.6rem;
                }
            }

            .logoDark,
            .logoLight,
            .imgMascot {
                width: 50%;
                max-height: 25em;
                object-fit: contain;
                filter: drop-shadow(4px 4px 6px $color-shadow);
            }

            .logoLight {
                display: block;
            }

            .logoDark {
                display: none;
            }
        }
    }

    .valuesContent {
        .content {
            width: 95%;
            margin: 3em auto;
            gap: 1em;
            min-height: 20em;
            display: flex;
            align-items: stretch;
            justify-content: space-around;
            flex-wrap: wrap;

            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: $color-secundaryLight;
                color: $color-fontDark;
                width: 25vw;
                display: flex;
                flex-direction: column;
                gap: 1em;
                text-align: center;
                border-radius: 20px;
                letter-spacing: 1.5px;
                padding: 1em;
                box-shadow: 4px 4px 8px $color-shadow;

                h3 {
                    font-family: $font-title;
                    font-size: 2rem;
                    text-align: center;
                }

                p {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.dark {
    .aboutContent {
        .title {
            hr {
                border: 2px solid $color-primaryDark;
            }
        }

        .content {
            .logoLight {
                display: none;
            }

            .logoDark {
                display: block;
                filter: drop-shadow(0 0 15px #141414a8);
            }
        }
    }

    .valuesContent {
        .content {
            .item {
                background-color: $color-secundaryDark;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    main {
        .aboutContent {
            .content {
                flex-direction: column-reverse;
                gap: 1em;

                .logoDark,
                .logoLight,
                .imgMascot {
                    width: 100%;
                    max-height: 15em;
                }
            }
        }

        .valuesContent {
            .content {
                .item {
                    gap: 0.5em;
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }
}
