$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #33a597;
$color-detailsDark: #c75ea3;

$color-bgDark: #2d2d2d;
$color-bgLight: #f9fbfb;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.infosContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
    background-color: $color-primaryLight;
    color: $color-fontLight;
    border-radius: 50px;
    padding: 0.5em 1em;
    width: auto;
    box-shadow: 2px 2px 4px $color-shadow;

    position: absolute;
    top: -16%;
    left: 10%;

    .containerService,
    .containerPhone,
    .containerMail {
        display: flex;
        align-items: center;
        gap: 0.5em;

        p {
            font-size: 2rem;
        }

        .containerIcon {
            position: relative;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-color: $color-terciaryLight;
            box-shadow: 2px 2px 4px $color-shadow;

            .icon {
                position: absolute;
                width: 46px;
                height: 46px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .containerService p {
        max-width: 15em;
    }
}

.dark {
    .infosContent {
        background-color: $color-primaryDark;
        color: $color-fontDark;

        .containerService,
        .containerPhone,
        .containerMail {
            .containerIcon {
                background-color: $color-terciaryDark;
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    .infosContent {
        top: -12%;
        left: 50%;
        transform: translateX(-50%);
        width: 96%;
        gap: 0.8em;

        .containerService,
        .containerPhone,
        .containerMail {
            .containerIcon {
                min-width: 46px;
                min-height: 46px;

                .icon {
                    width: 42px;
                    height: 42px;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .infosContent {
        width: 95%;
        border-radius: 15px;
        flex-direction: column;
        align-items: flex-start;
        gap: 2em;
        padding: 1em;

        .containerService p {
            max-width: 30em;
        }
    }
}
