$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #c75ea3;

$color-bgDark: #2d2d2d;
$color-bgLight: #f9fbfb;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.searchContainer {
    width: 50%;
    position: relative;

    .inputSearch {
        position: relative;
        height: 2em;

        #inputSearch {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background-color: $color-bgLight;
            color: $color-fontLight;
            font-family: $font-items;
            text-indent: 20px;
            font-size: 2rem;
            position: relative;
            z-index: 10;
            box-shadow: 2px 2px 8px $color-shadow;
        }

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            position: absolute;
            right: 2%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 11;

            .searchIcon {
                color: $color-fontLight;
                height: 28px;
                width: 28px;
            }
        }
    }

    .searchResults {
        position: absolute;
        background-color: $color-bgLight;
        font-family: $font-items;
        display: flex;
        flex-direction: column;
        gap: 0.1em;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 2px 2px 10px $color-shadow;
        min-width: 95%;
        border-radius: 5px;
        overflow-y: auto;
        max-height: 95svh;

        &::-webkit-scrollbar {
            display: none;
        }

        .itemSearch {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $color-card;
            box-shadow: 2px 2px 10px $color-shadow;
            border-radius: 5px;
            padding: 10px 15px;

            &:first-child {
                padding-top: 2em;
            }

            .containerVisual {
                display: flex;
                align-items: center;

                img {
                    padding: 20px;
                    height: 50%;
                    max-height: 15em;
                    width: 25%;
                    min-width: 25%;
                }

                h4 {
                    font-size: 2rem;
                    color: $color-fontLight;
                    width: 75%;
                }
            }

            p {
                font-size: 2.2rem;
                font-weight: 600;
                color: $color-primaryLight;
            }
        }
    }
}

@media only screen and (max-width: 1800px) {
    .searchContainer {
        .searchResults {
            background-color: transparent;
            min-width: 32em;
            padding-top: 1.5em;

            .itemSearch {
                background-color: $color-bgLight;
                padding: 10px 15px;

                img {
                    padding: 15px;
                    width: 15%;
                }
                h4 {
                    font-size: 2rem;
                    width: 0%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .searchContainer {
        .inputSearch {
            width: 100%;
        }

        .searchResults {
            min-width: 27em;
        }
    }
}

@media only screen and (max-width: 800px) {
    .searchContainer {
        .inputSearch {
            width: 100%;
        }

        .searchResults {
            left: 10%;
            min-width: 80vw;

            .itemSearch {
                img {
                    width: 20%;
                }
                h4 {
                    font-size: 1.8rem;
                    width: 35%;
                }
                p {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .searchContainer {
        .inputSearch {
            width: 250%;
        }

        .searchResults {
            left: 50%;
            min-width: 90vw;

            .itemSearch {
                flex-direction: column;

                .containerVisual {
                    display: flex;

                    img {
                        width: 35%;
                    }
                    h4 {
                        font-size: 1.6rem;
                        width: 70%;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 500px) {
    .searchContainer {
        .inputSearch {
            width: 150%;
        }
    }
}
