$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #c75ea3;

$color-bgDark: #2d2d2d;
$color-bgLight: #f9fbfb;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;

$font-logo: 'Audiowide', sans-serif;
$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

header {
    font-family: $font-title;
    position: fixed;
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-secundaryLight;
    box-shadow: 4px 2px 20px 3px $color-shadow;
    border-radius: 0 0 25px 25px;
    padding: 0.5em 1em;
    gap: 0.5em;
    font-size: 2.2rem;
    z-index: 50;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.3s ease;

    &.shrink {
        padding-block: 0.2em;
    }

    .logo {
        font-family: $font-logo;
        font-size: 3rem;
        color: $color-fontDark;
        text-shadow: 4px 4px 8px #121217b8;
        text-transform: uppercase;
        transition: 0.2s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    .navegation {
        display: flex;
        flex-direction: row;

        .link {
            padding: 0 0.5em;
            color: $color-fontDark;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 80%;
                transform: scaleX(0);
                height: 2.5px;
                bottom: -2px;
                margin-left: 10px;
                left: 0;
                background-color: $color-fontDark;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }

    .menuDesktop {
        display: flex;
        justify-content: center;
        align-items: center;

        .favIcon,
        .userIcon,
        .cartIcon {
            display: flex;
            color: $color-fontDark;
            margin-inline: 0.5em;
            height: 32px;
            width: 32px;
        }

        .linkIcons {
            position: relative;

            .spanCarrinhoLength {
                position: absolute;
                right: 2px;
                top: -5px;
                width: 20px;
                height: 20px;
                aspect-ratio: 1/1;
                font-size: 1.4rem;
                font-weight: 600;
                background-color: $color-primaryLight;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $font-items;
                color: $color-fontDark;
            }

            .userImg {
                margin: 0.5em 0.2em 0;
                border-radius: 50%;
                height: 42px;
                width: 42px;
                border: 1px solid $color-primaryLight;
            }
        }
    }
}

@media only screen and (max-width: 1150px) {
    header {
        .logo {
            font-size: 3rem;
        }

        .navegation {
            display: none;
        }
    }
}

@media only screen and (max-width: 900px) {
    header {
        display: grid;
        grid-template-areas:
            'menuDep logo icons'
            'search search search';
        grid-template-columns: auto 1fr auto;
        align-items: center;
        padding-top: 0;
        gap: 0 0.5em;

        &.shrink {
            display: flex;
            justify-content: space-between;
            gap: 5px;

            .logo {
                display: none;
            }

            .menuDesktop {
                gap: 0.5em;

                .favIcon,
                .userIcon {
                    display: none;
                }

                .cartIcon {
                    height: 28px;
                    width: 28px;
                }
            }
        }

        .menuCat {
            grid-area: menuDep;
        }

        .logo {
            grid-area: logo;
            font-size: 2.6rem;

            &:hover {
                font-size: 2.8rem;
                transform: scale(1);
            }
        }

        .menuDesktop {
            grid-area: icons;
            display: flex;
            gap: 1em;

            .favIcon,
            .userIcon,
            .cartIcon {
                margin: 0;
                height: 28px;
                width: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .linkIcons {
                display: flex;
                align-items: center;

                .spanCarrinhoLength {
                    font-size: 1.2rem;
                    width: 18px;
                    height: 18px;
                    right: -6px;
                }

                .userImg {
                    height: 34px;
                    width: 34px;
                    margin: 0;
                }
            }
        }

        .searchContainer {
            grid-area: search;
        }
    }
}

@media only screen and (max-width: 600px) {
    header {
        .logo {
            display: flex;
            font-size: 2.2rem;

            &:hover {
                font-size: 2.4rem;
                transform: scale(1);
            }
        }

        .menuDesktop {
            gap: 0.5em;

            .favIcon,
            .userIcon,
            .cartIcon {
                height: 28px;
                width: 28px;
            }

            .linkIcons {
                .userImg {
                    height: 28px;
                    width: 28px;
                }
            }
        }

        &.shrink {
            .menuDesktop {
                gap: 0.25em;

                .cartIcon {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
}
