$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #db3ca6;

$color-bgLight: #f9fbfb;
$color-bgDark: #2d2d2d;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

main {
    .title {
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            font-family: $font-title;
            font-size: clamp(2.4rem, 2vw, 2.8rem);
            padding: 0 10px;
            white-space: nowrap;
        }

        hr {
            width: 50%;
            height: 0;
            border: 2px solid $color-primaryLight;
        }
    }

    .containerMain {
        width: 100%;
        margin: 1em auto;
        display: flex;
        justify-content: space-between;
        gap: 1em;
        position: relative;

        .containerCart {
            flex: 2;
            display: flex;
            flex-direction: column;
            align-items: end;

            .emptyCartMessage {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background: $color-card;
                gap: 1em;
                width: 100%;
                padding: 2em 0;
                border-radius: 15px;
                box-shadow: 0 0 4px $color-shadow;

                .textEmpty {
                    font-family: $font-title;
                    font-size: clamp(1.8rem, 1.2rem + 1vw, 2.4rem);
                }

                .btnBackBuy {
                    font-family: $font-items;
                    border: none;
                    padding: 0.75em 1.5em;
                    border-radius: 10px;
                    background: $color-primaryLight;
                    box-shadow: 0 0 8px $color-shadow;
                    font-size: clamp(1.4rem, 1.2rem + 1vw, 2rem);
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:hover {
                        filter: brightness(1.02);
                        box-shadow: 0 0 15px $color-primaryLight;
                    }
                }
            }

            .listCart {
                display: flex;
                flex-direction: column;
                gap: 1em;
                width: 100%;
            }

            .cleanCart {
                margin: 1em 0;
                padding: 0.5em 1.5em;
                gap: 0.5em;
                display: flex;
                align-items: center;
                border: none;
                cursor: pointer;
                font-size: clamp(1.4rem, 1vw, 2rem);
                border-radius: 5px;
                color: $color-fontDark;
                background: $color-secundaryDark;
                box-shadow: 0 0 10px $color-shadow;
                font-family: $font-items;
                transition: 0.5s ease;

                &:hover {
                    filter: brightness(1.2);
                    box-shadow: 0 0 15px #415352;
                }

                .icon {
                    font-size: clamp(1.8rem, 1.5vw, 3rem);
                }
            }
        }

        .resume {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 2em;
        }
    }

    .offers {
        h2 {
            font-size: clamp(1.8rem, 2vw, 2.2rem);
            padding-bottom: 0.5em;
        }
    }
}

.dark {
    main {
        .title {
            hr {
                border: 2px solid $color-primaryDark;
            }
        }

        .containerMain {
            .containerCart {
                .emptyCartMessage {
                    background-color: #72757478;
                    box-shadow: 0 0 15px #141414a8;

                    .btnBackBuy {
                        background: $color-primaryDark;
                        box-shadow: 0 0 15px #141414a8;

                        &:hover {
                            box-shadow: 5px 10px 5px #141414a8;
                        }

                        &:active {
                            box-shadow: 2px 2px 5px #141414a8;
                        }
                    }
                }

                .cleanCart {
                    background: $color-secundaryLight;
                    box-shadow: 0 0 15px #141414a8;

                    &:hover {
                        filter: brightness(0.9);
                        box-shadow: 0 0 15px #263d3c;
                    }

                    .icon {
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    section {
        .containerMain {
            .containerCart {
                flex: 1.5;

                .listCart {
                    gap: 1em;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    section {
        .containerMain {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 0;

            .containerCart {
                width: 100%;
                align-items: center;
            }

            .resume {
                width: 100%;
                gap: 1em;
            }
        }
    }
}
