$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #c75ea3;

$color-bgDark: #2d2d2d;
$color-bgLight: #f9fbfb;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;

$font-logo: 'Audiowide', sans-serif;
$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

header {
    font-family: $font-title;
    position: fixed;
    width: 95%;
    height: 3.5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color-secundaryLight;
    box-shadow: 4px 2px 20px 3px $color-shadow;
    border-radius: 0 0 25px 25px;
    padding: 0 1em;
    gap: 1em;
    font-size: 2.5rem;
    z-index: 50;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: expandHeader 0.3s linear forwards;

    &.shrink {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        animation: sizeHeader 0.3s linear forwards;
    }

    .logo {
        font-family: $font-logo;
        font-size: 3.5rem;
        color: $color-fontDark;
        text-shadow: 4px 4px 8px #121217b8;
        text-transform: uppercase;
        transition: 0.2s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    .navegation {
        display: flex;
        flex-direction: row;

        .link {
            padding: 0 0.8em;
            color: $color-fontDark;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 80%;
                transform: scaleX(0);
                height: 2.5px;
                bottom: -2px;
                margin-left: 10px;
                left: 0;
                background-color: $color-fontDark;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }

    .menuDesktop {
        display: flex;
        align-items: center;

        .favIcon,
        .userIcon,
        .cartIcon {
            color: $color-fontDark;
            margin: 0.5em 0.8em 0;
            height: 36px;
            width: 36px;
        }

        .linkIcons {
            position: relative;

            .spanCarrinhoLength {
                position: absolute;
                top: 0;
                right: 5px;
                font-size: 2rem;
                font-weight: 600;
                background-color: $color-primaryLight;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $font-items;
                color: $color-fontDark;
            }

            .userImg {
                margin: 0.5em 0.2em 0;
                border-radius: 50%;
                height: 42px;
                width: 42px;
                border: 1px solid $color-primaryLight;
            }
        }
    }
}

@keyframes sizeHeader {
    to {
        height: 3em;
    }
}

@keyframes expandHeader {
    from {
        height: 3em;
    }
    to {
        height: 3.5em;
    }
}

@media only screen and (max-width: 1024px) {
    header {
        .logo {
            font-size: 3rem;
        }

        .navegation {
            display: none;
        }
    }
}

@media only screen and (max-width: 800px) {
    header {
        padding: 0;
        gap: 1em;
        justify-content: center;

        .logo {
            font-size: 2.5rem;
        }

        .navegation {
            display: none;
        }

        .menuDesktop {
            display: none;
        }
    }
}

@media only screen and (max-width: 600px) {
    header {
        padding: 0 10em 0 0;
        gap: 1em;
        justify-content: center;

        .logo {
            display: none;
        }
    }
}

@media only screen and (max-width: 500px) {
    header {
        gap: 1em;
        padding: 0 3.5em 0 0;
    }
}

@media only screen and (max-width: 400px) {
    header {
        gap: 0.5em;
        padding: 0 2.5em 0 0;
    }
}
