$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #10A88D;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgDark: #2D2D2D;
$color-bgLight: #F9FBFB;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.menuCat {
    color: $color-fontDark;

    .menuButton {
        background: transparent;
        border: none;
        cursor: pointer;

        .menuIcon {
            color: $color-fontDark;
            margin: .5em .8em 0;
            height: 36px;
            width: 36px;
        }
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #12171780;
        z-index: 99;
        opacity: 0;
        display: none;
    
        &.active {
            animation: modal 0.2s ease-in forwards;
            display: block;
        }
    }

    .menu {
        position: fixed;
        top: 0;
        left: -7em;
        height: 100%;
        background-color: $color-secundaryLight;
        z-index: 900;
        border-radius: 0 20px 20px 0;
        opacity: 0;
        display: none;
        overflow-x: hidden;
        overflow-y: auto;
        animation: menuDep 0.5s ease-in-out forwards;
        width: 20%;

        &.active {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-left: 30px;
        }

        .logoMenu {
            width: 100%;
            max-width: 5em;
            height: 100%;
            filter: drop-shadow( 4px 4px 4px $color-shadow);
        }

        h3 {
            font-family: $font-title;
            font-size: 2.4rem;
            padding: 10px 0;
            width: 100%;
            text-align: center;
            box-shadow: 0 1px 10px $color-shadow;
        }

        .categorias {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            width: 100%;

            .filterDeps {
                display: flex;
                justify-content: center;
                // align-items: center;
                width: 100%;
                padding: 8px 10px;
                color: $color-fontDark;
                font-size: 2rem;
                transition: .3s ease-in;
            }
        }

        .menuNav {
            text-align: center;
            width: 100%;

            .navegacoes {
                width: 100%;
                padding: 5px 0 10px 0;
                display: flex;
                justify-content: center;
                // align-items: center;
                flex-direction: column;
                text-align: left;

                .link {
                    display: flex;
                    justify-content: center;
                    gap: .5em;
                    align-items: center;
                    padding: 10px 10px 5px;
                    transition: .3s ease-in;
                    color: $color-fontDark;
                    font-size: 2rem;
                    width: 100%;

                    &:hover {
                        background-color: $color-secundaryDark;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .menuCat {
        .menu {
            width: 30%;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .menuCat {    
        .menuButton {
            .menuIcon {
                margin: .5em 0 0;
            }
        }

        .menu {
            width: 45%;

            .logoMenu {
                width: clamp(4em, 4em + 10vw, 4.5em);
            }
        }
    }
}

@media only screen and (max-width: 620px) {
    .menuCat {   
        .menuButton {
            .menuIcon {
                margin: .5em 1em 0 -1em;
            }
        }

        .menu {
            width: 65%;
        }
    }
}