$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #c75ea3;

$color-bgDark: #2d2d2d;
$color-bgLight: #f9fbfb;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.menuCat {
    color: $color-fontDark;

    .menuButton {
        background: transparent;
        border: none;
        cursor: pointer;

        .menuIcon {
            color: $color-fontDark;
            margin: 0.5em 0.8em 0;
            height: 36px;
            width: 36px;
        }
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #12171780;
        z-index: 99;
        opacity: 0;
        display: none;

        &.active {
            animation: modal 0.2s ease-in forwards;
            display: block;
        }
    }

    .menu {
        position: fixed;
        top: 0;
        left: -7em;
        height: 100%;
        background-color: $color-secundaryLight;
        z-index: 900;
        border-radius: 0 20px 20px 0;
        opacity: 0;
        display: none;
        overflow-x: hidden;
        overflow-y: auto;
        animation: menuDep 0.5s ease-in-out forwards;
        width: 20%;

        &.active {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-left: 30px;
        }

        .logoMenu {
            width: 100%;
            max-width: 5em;
            height: 100%;
            filter: drop-shadow(4px 4px 4px $color-shadow);
        }

        .hrMenu {
            width: 100%;
            border: 1.5px solid $color-primaryLight;
        }

        h3 {
            font-family: $font-title;
            font-size: 2.4rem;
            padding: 10px 0;
            width: 100%;
            text-align: center;
            box-shadow: 0 1px 10px $color-shadow;
            animation: modal 0.8s ease-in;
        }

        .categorias {
            display: flex;
            flex-direction: column;
            width: 100%;

            .filterDeps {
                display: flex;
                width: 100%;
                padding: 8px 10px;
                color: $color-fontDark;
                font-size: 2rem;
                transition: 0.3s ease-in;
                cursor: pointer;

                &:hover {
                    background-color: $color-secundaryDark;
                    text-decoration: underline;
                }
            }
        }

        .menuNav {
            text-align: center;
            width: 100%;

            .navegacoes {
                width: 100%;
                padding: 5px 0 10px 0;
                display: flex;
                flex-direction: column;
                text-align: left;

                .link {
                    display: flex;
                    gap: 0.5em;
                    align-items: center;
                    padding: 10px 10px 5px;
                    transition: 0.3s ease-in;
                    color: $color-fontDark;
                    font-size: 2rem;
                    width: 100%;

                    &:hover {
                        background-color: $color-secundaryDark;
                        text-decoration: underline;
                    }

                    [class*='Icon'] {
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }

        .toggleTheme {
            display: flex;
            padding: 0 0 10px;
            justify-content: center;
            position: relative;

            #chk {
                cursor: pointer;
                position: absolute;
                top: 0;
                z-index: 99;
                width: 8em;
                height: 3em;
                opacity: 0;

                &:checked + #labelTheme .ball {
                    transform: translateX(63px);
                }

                &:checked + #labelTheme .iconMoon {
                    transform: translateY(88%);
                    color: $color-fontLight;
                }

                &:checked + #labelTheme .iconSun {
                    transform: translateY(-175%);
                    color: $color-fontDark;
                }
            }

            #labelTheme {
                cursor: pointer;
                display: block;
                width: 100px;
                height: 36px;
                background-color: $color-secundaryDark;
                border-radius: 20px;
                position: relative;
                box-shadow: 2px 2px 4px $color-shadow;
                overflow: hidden;

                .ball {
                    width: 28px;
                    height: 28px;
                    background-color: $color-primaryLight;
                    border-radius: 50%;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    transition: transform 0.5s ease;
                }

                .iconSun {
                    position: absolute;
                    z-index: 10;
                    color: $color-fontLight;
                    width: 26px;
                    height: 26px;
                    left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    transition:
                        color 5ms ease-in-out,
                        transform 0.5s ease-in-out;
                }

                .iconMoon {
                    position: absolute;
                    z-index: 10;
                    color: $color-fontDark;
                    width: 26px;
                    height: 26px;
                    right: 5px;
                    top: -50%;
                    transform: translateY(-50%);
                    transition:
                        color 5ms ease-in-out,
                        transform 0.5s ease-in-out;
                }
            }
        }
    }
}

@keyframes menuDep {
    to {
        transform: translateX(5.75em);
        opacity: 1;
    }
}
@keyframes menuDepFixed {
    to {
        transform: translateX(9.75em);
        opacity: 1;
    }
}

@keyframes modal {
    to {
        opacity: 1;
    }
}

.shrink {
    .modal {
        left: -5em;
    }

    .menu {
        left: -10em;
        padding: 0 0 0 2em;
    }
}

@media only screen and (max-width: 1400px) {
    .menuCat {
        .menu {
            width: 30%;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .menuCat {
        .menuButton {
            .menuIcon {
                margin: 0.5em 0 0;
            }
        }

        .menu {
            width: 45%;

            .logoMenu {
                width: clamp(4em, 4em + 10vw, 4.5em);
                height: clamp(4em, 4em + 10vh, 4.5em);
            }
        }
    }
}

@media only screen and (max-width: 620px) {
    .menuCat {
        .menuButton {
            .menuIcon {
                margin: 0.5em 1em 0 -1em;
            }
        }

        .menu {
            width: 65%;
        }
    }
}
