$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #db3ca6;

$color-bgLight: #f9fbfb;
$color-bgDark: #2d2d2d;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.brandCard {
    height: fit-content;
    background-color: #f6fefd4d;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5em;
    box-shadow: 2px 2px 15px $color-shadow;

    .brandImage {
        width: 12em;
        height: 5em;
        object-fit: contain;
    }

    .brandName {
        font-family: $font-title;
        text-transform: uppercase;
        font-size: 1.6rem;
    }
}

.dark {
    .brandCard {
        background-color: $color-secundaryLight;
        box-shadow: 0 0 15px #141414a8;
    }
}
