$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #10A88D;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgDark: #2D2D2D;
$color-bgLight: #F9FBFB;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;

.carousel {
    width: 85%;
    height: 50vh;
    margin: 0 auto;

    &:hover .splide__pagination .splide__pagination__page.is-active::after {
        animation-play-state: paused;
    }

    .splide__slide {
        img {
            width: 100%; 
            height: 65vh;
            border-radius: 20px;
        }
    }

    .splide__pagination {
        .splide__pagination__page {
            display: inline-block;
            width: 30px;
            height: 4px;
            border-radius: 10px;
            background-color: $color-secundaryLight;
            margin: 0 5px;
            cursor: pointer;

            &.is-active {
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    border-radius: 10px;
                    width: 0;
                    height: 100%;
                    background-color: $color-primaryLight; 
                    animation: preencher 5s linear forwards;
                }              
            }
        }
    }

    .splide__arrow {
        &.splide__arrow--prev,
        &.splide__arrow--next {
            font-size: 2.4rem;
            transition: 0.3s ease;
            background-color: #f7efef5e;
        
            &:hover {
                background-color: $color-shadow;
            }
        }
    }
}

@keyframes preencher {
    to {
        width: 100%;
    }
}