$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #10A88D;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgDark: #2D2D2D;
$color-bgLight: #F9FBFB;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

footer {
    background-color: $color-secundaryLight;
    color: $color-fontDark;
    margin-top: -3em;
    position: relative;

    #footerContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0 10px 50px;

        img {
            height: 120px;
            width: 200px;
            object-fit: contain;
            filter: drop-shadow( 4px 4px 4px $color-shadow);
        }

        .navLinks {
            display: flex;
            gap: 5em;

            h3 {
                text-transform: uppercase;
            }

            li {
                margin: 0 0 2px 5px;
            }
        }

        .iconsNav {
            width: 15em;

            .icons {
                display: grid;
                padding: 0 0 0 20px;
                grid-template-columns: 1fr 1fr 1fr 1fr;

                .icon {
                    margin: 5px;
                    width: 32px;
                    height: 32px;
                }
            }

            hr {
                height: 3px;
                width: 100%;

                background-image: linear-gradient(to right, transparent, $color-fontDark);
                border: none;
            }
        }
    }

    .authorship {
        display: flex;
        margin: 5px 20px 0 20px;
        justify-content: space-between;
        
        a{
            color: $color-fontDark;
        }
    }
}

@media only screen and (max-width: 1150px) {
    footer {   
        #footerContent {
            padding: 50px 0 10px 20px;

            img {
                display: none;
            }

            .navLinks {
                gap: 3em;
            }

            .iconsNav {
                width: 12em;
    
                .icons {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;

                    .icon {
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 620px) {
    footer {   
        #footerContent {
            padding: 50px 0 10px 20px;

            img {
                display: none;
            }

            .navLinks {
                gap: 3em;
            }

            .iconsNav {
                width: 12em;
    
                .icons {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;

                    .icon {
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }
    }
}