$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #10A88D;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgDark: #2D2D2D;
$color-bgLight: #F9FBFB;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

footer {
    background-color: $color-secundaryLight;
    color: $color-fontDark;
    margin-top: -3em;
    position: relative;

    #footerContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3em 0 .7em 3em;

        img {
            height: 120px;
            width: 200px;
            object-fit: contain;
            filter: drop-shadow( 4px 4px 4px $color-shadow);
        }

        .navLinks {
            display: flex;
            gap: 5em;

            h3 {
                font-size: 2.6rem;
                text-transform: uppercase;
            }

            li {
                font-size: 2.2rem;
                margin: 0 0 2px 5px;
            }
        }

        .iconsNav {
            width: 20em;

            .icons {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 0 0 0 20px;
                gap: .5em;

                .icon {
                    margin: 5px;
                    width: 42px;
                    height: 42px;
                }
            }

            hr {
                height: 5px;
                width: 100%;
                background-image: linear-gradient(to right, transparent, $color-fontDark);
                border: none;
            }
        }
    }

    .authorship {
        display: flex;
        margin: 5px 20px 0 20px;
        justify-content: space-between;
        
        a {
            color: $color-fontDark;
        }
    }
}

@media only screen and (max-width: 1320px) {
    footer {   
        #footerContent {
            padding-left: .7em;

            img {
                display: none;
            }

            .navLinks {
                gap: 3em;
            }

            .iconsNav {
                width: 17em;
    
                .icons {
                    .icon {
                        width: 40px;
                        height: 40px;
                    }
                }

                hr {
                    height: 4px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    footer {   
        #footerContent {
            padding-bottom: 2em;
            flex-direction: column;

            .navLinks {
                padding: 0 0 20px;
            }

            .iconsNav {
                width: 20em;
    
                .icons {
                    .icon {
                        width: 42px;
                        height: 42px;
                    }
                }

                hr {
                    height: 5px;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    footer {   
        padding-top: 8em;
        margin-top: 8em;

        #footerContent {
            .navLinks {
                gap: 2em;
                flex-direction: column;
                text-align: center;

                li {
                    margin: 0 0 2px;
                }
            }
        }
    }
}