$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #0d977e;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgDark: #2D2D2D;
$color-bgLight: #F9FBFB;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.containerHistory {
    padding: 1.5em 0 1em;
    text-align: center;

    ul {
        text-align: left;
        
        .itensCompra {
            margin: .5em 0;
            font-family: $font-items;
            cursor: pointer;
            border-bottom: 2px solid $color-primaryLight;
        }
    }

    .btnMost {
        font-weight: bold;
        color: $color-primaryLight;
        cursor: pointer;
        text-decoration: underline;
        font-size: 1.8rem;
    }
}

.dark {
    .containerHistory {    
        ul {            
            .itensCompra {
                border-bottom: 2px solid $color-primaryDark;
            }
        }
    
        .btnMost {
            color: $color-secundaryLight;
        }
    }
}