$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #0d977e;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #c75ea3;

$color-bgDark: #2d2d2d;
$color-bgLight: #f9fbfb;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.containerHistory {
    padding-bottom: 3em;
    width: 100%;
    text-align: center;
    overflow-y: auto;
    max-height: 22.5em;

    &::-webkit-scrollbar {
        display: none;
    }

    ul {
        text-align: left;

        .itensCompra {
            margin: 0.5em 0;
            font-family: $font-items;
            cursor: pointer;
            border-bottom: 2px solid $color-primaryLight;
        }
    }

    .btnMost {
        font-weight: bold;
        color: $color-primaryLight;
        cursor: pointer;
        text-decoration: underline;
        font-size: 1.8rem;
    }
}

.dark {
    .containerHistory {
        ul {
            .itensCompra {
                border-bottom: 2px solid $color-primaryDark;
            }
        }

        .btnMost {
            color: $color-secundaryLight;
        }
    }
}
