$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #0d977e;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgDark: #2D2D2D;
$color-bgLight: #F9FBFB;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

.container {
  display: grid;
  place-content: center;
  min-height: calc( 100vh - 4em - 20em);
    
  .invalid {
    padding-bottom: 1em;
    color: $color-detailsLight;
    position: relative;
    left: 15px;
  }
  
  p { 
    position: relative;
    
    .iconPwd {
      position: absolute;
      right: 1.5vw;
      top: 25px;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      cursor: pointer;
      color: $color-fontLight;
    }
  }
}

.dark {
  .container {
    .invalid {
      color: $color-detailsDark;
    }
  }
}