$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #0d977e;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #c75ea3;

$color-bgDark: #2d2d2d;
$color-bgLight: #f9fbfb;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd67;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.userContainer {
    min-width: 90vw;
    background: #f3faf9de;
    display: flex;
    height: auto;
    margin-top: 1em;
    border-radius: 20px;
    box-shadow: 2px 2px 15px $color-shadow;

    .userContent {
        flex: 1;

        &:first-child {
            border-right: 2px solid $color-primaryLight;
        }

        .enderecoSection,
        .adminSection {
            width: 100%;
            padding: 2em 1em;
            display: flex;
            gap: 1em;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .sectionHeader {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1em;

                h3 {
                    font-size: 2rem;
                }

                .helperText {
                    opacity: 0.8;
                    font-family: $font-items;
                }
            }

            .enderecoCard {
                cursor: pointer;
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                background-color: #dce0e050;
                width: 100%;
                gap: 0.5em;
                padding: 1em;
                border: $color-primaryLight solid 3px;
                border-left: $color-primaryLight solid 8px;
                border-radius: 15px;
                box-shadow: 0 0 10px $color-shadow;

                p {
                    font-family: $font-items;
                    opacity: 0.8;
                }

                &.selected {
                    background-color: #a8adad4a;
                    border: $color-secundaryLight solid 3px;
                    border-left: $color-secundaryLight solid 8px;
                    box-shadow: 2px 2px 25px #41535280;
                }
            }

            .addButton,
            .listButton,
            .deleteButton {
                width: 100%;
                max-width: 20em;
            }

            .enderecoActionsButtons {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 1em;
            }
        }
    }

    [class$='Button'] {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        font-size: 1.8rem;
        min-width: 12em;
        padding: 0.5em 1em;
        border: none;
        border-radius: 5px;
        color: $color-fontDark;
        background: $color-primaryLight;
        box-shadow: 2px 2px 8px $color-shadow;
        font-family: $font-web;
        cursor: pointer;
        white-space: nowrap;
        transition: 0.5s ease;

        &:disabled {
            filter: brightness(0.9);
            color: $color-fontDark;
            opacity: 0.5;
            cursor: not-allowed;

            &:hover {
                filter: brightness(0.9);
                box-shadow: 2px 2px 8px $color-shadow;
            }
        }

        &:hover {
            filter: brightness(1.05);
            box-shadow: 0 0 10px $color-primaryLight;
        }
    }
}

.dark {
    .userContainer {
        background-color: #72757478;
        box-shadow: 0 0 15px #141414a8;

        .userContent {
            &:first-child {
                border-right: 2px solid $color-primaryDark;
            }

            .enderecoSection {
                .enderecoCard {
                    background-color: #adb4b481;
                    border: $color-primaryDark solid 3px;
                    border-left: $color-primaryDark solid 10px;
                    color: $color-fontDark;
                    box-shadow: 0 0 5px #141414a8;

                    &.selected {
                        border: $color-secundaryDark solid 3px;
                        border-left: $color-secundaryDark solid 10px;
                        background-color: #dce0e08a;
                        box-shadow: 2px 2px 25px #a3b3b080;
                    }
                }
            }
        }

        [class$='Button'] {
            background: $color-primaryDark;

            &:hover {
                box-shadow: 0 0 10px $color-primaryDark;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .userContainer {
        max-width: 90vw;
        flex-direction: column;

        .userContent {
            &:first-child {
                border-right: none;
            }
        }
    }
}
