$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #db3ca6;

$color-bgLight: #f9fbfb;
$color-bgDark: #2d2d2d;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

main {
    .sectionPayment {
        flex: 2;
        display: flex;
        justify-content: center;
        gap: 2em;

        .containerOptionsPay {
            flex: 2;
            width: 75%;
            max-height: 75svh;
            display: flex;
            flex-direction: column;
            background: $color-bgLight;
            box-shadow: 0 0 5px $color-shadow;
            padding: 1em;
            border-radius: 15px;
            position: relative;
            gap: 1em;
            text-align: center;

            .titlePay {
                font-family: $font-title;
                font-size: 2rem;
                font-weight: 500;
            }

            .optionsContainer {
                display: flex;
                height: 100%;
                justify-content: center;
                gap: 1em;
                flex-wrap: wrap;
            }
        }

        .paymentSidebar {
            flex: 1;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1em;

            .registrationCPF {
                margin-top: 1em;
                padding: 1em 0;
                background: $color-bgLight;
                border-radius: 15px;
                box-shadow: 0 0 10px $color-shadow;

                h4 {
                    padding: 0 1em;
                    font-size: 2.6rem;
                }

                .hrCPF {
                    border: 2px solid $color-primaryLight;
                }

                .inputCpf {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    align-items: center;
                    margin: 1.5em auto 0;
                    width: clamp(15em, 50% + 50%, 90%);

                    input {
                        height: 2.5em;
                        width: 100%;
                        border-radius: 10px;
                        text-indent: 10px;
                        font-size: 2rem;
                        font-weight: 600;
                        font-family: $font-items;
                        background: $color-bgLight;
                        color: $color-fontLight;
                        box-shadow: 0 0 10px $color-shadow;
                    }

                    .saveCpf {
                        display: flex;
                        align-items: center;
                        gap: 0.5em;
                        font-size: clamp(2rem, 1rem + 1vw, 2.2rem);
                        padding: 0.5em 1em;
                        border: 1px solid $color-primaryLight;
                        background-color: $color-primaryLight;
                        color: $color-fontLight;
                        font-family: $font-items;
                        font-weight: 600;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: 0.3s ease;

                        &:hover {
                            filter: brightness(0.95);
                            box-shadow: 0 0 10px #4e8581;
                        }
                    }
                }
            }
        }
    }
}

.dark {
    main {
        .hrTitle {
            border: 2px solid $color-primaryDark;
        }

        .sectionPayment {
            .containerOptionsPay {
                background: #72757478;
                box-shadow: 0 0 15px #141414a8;
            }

            .orderSummary {
                background-color: #72757478;
                box-shadow: 0 0 15px #141414a8;

                .lineOrder {
                    .discount {
                        color: $color-detailsDark;
                    }
                }

                h2 {
                    color: $color-primaryDark;
                }

                .confirmOrder {
                    background: $color-primaryDark;

                    &:hover {
                        filter: brightness(0.9);
                        box-shadow: 0 0 10px #4e8581;
                    }
                }
            }

            .registrationCPF {
                background-color: #72757478;
                box-shadow: 0 0 15px #141414a8;

                .hrCPF {
                    border: 2px solid $color-primaryDark;
                }

                .inputCpf {
                    input {
                        box-shadow: 0 0 15px #141414a8;
                    }

                    .saveCpf {
                        border: 1px solid $color-primaryDark;
                        background-color: $color-primaryDark;

                        &:hover {
                            filter: brightness(0.9);
                            box-shadow: 0 0 10px #4e8581;
                        }
                    }
                }
            }

            .containerAddress {
                background-color: #72757478;
                box-shadow: 0 0 15px #141414a8;

                select {
                    box-shadow: 0 0 15px #141414a8;
                    border: 1px solid #ccc;

                    option {
                        cursor: pointer;
                        background-color: $color-fontDark;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    main {
        .sectionPayment {
            .containerOptionsPay {
                flex: 1.5;
                width: 100%;
                max-height: fit-content;

                .optionsContainer {
                    flex-direction: column;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    main {
        .sectionPayment {
            flex-direction: column;
            align-items: center;
            gap: 1em;

            .paymentSidebar {
                flex-direction: row;
            }
        }
    }
}

// @media only screen and (max-width: 850px) {
//     main {
//         .sectionPayment {
//             .containerOptionsPay {
//                 width: 90vw;
//                 flex-direction: column;

//                 .optionPay {
//                     width: 100%;

//                     label {
//                         flex-direction: row;
//                         justify-content: space-between;

//                         .iconPayment {
//                             width: 100%;
//                             height: 100%;
//                             max-width: 100px;
//                             max-height: 100px;
//                         }

//                         h3 {
//                             font-size: 2.6rem;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @media only screen and (max-width: 550px) {
//     main {
//         .statusPay {
//             display: none;
//         }

//         .sectionPayment {
//             .containerOptionsPay {
//                 max-height: 200svh;
//                 padding: 5em 2em 2em;

//                 .titlePay {
//                     white-space: wrap;
//                     width: 300px;
//                 }

//                 .optionPay {
//                     width: 100%;
//                     height: 25em;

//                     label {
//                         flex-direction: column;

//                         .iconPayment {
//                             width: 100%;
//                             height: 100%;
//                             min-width: 100px;
//                             min-height: 100px;
//                         }
//                     }
//                 }
//             }

//             .orderSummary {
//                 width: 90vw;
//                 min-width: 0;

//                 .lineOrder {
//                     font-size: clamp(2.2rem, 1rem + 1vw, 2.4rem);
//                 }
//             }
//         }
//     }
// }

// @media only screen and (max-width: 380px) {
//     main {
//         .sectionPayment {
//             .orderSummary {
//                 height: 35em;

//                 h2 {
//                     top: 70%;
//                 }
//             }
//         }
//     }
// }
