@import './components/backToTop/backToTop.scss';
@import './components/card/card.scss';
@import './components/footer/footer.scss';

$color-primaryLight: #36cec4;
$color-secundaryLight: #536362;

$color-primaryDark: #10a88d;
$color-secundaryDark: #2d3a3a;

$color-bgDark: #252525;
$color-bgLight: #f2f2f2;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$font-web: 'Roboto Flex', Arial;

@mixin lightMode {
    background-color: $color-bgLight;
    color: $color-fontLight;
    transition: 0.25s ease-in;
}

@mixin darkMode {
    background-color: $color-bgDark;
    color: $color-fontDark;
    transition: 0.25s ease-in;
}

:root {
    font-family: $font-web;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 0.5em;
        background: $color-secundaryDark;
    }

    &::-webkit-scrollbar-track {
        border-radius: 50px;
        background-color: $color-secundaryDark;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background-color: $color-secundaryLight;
        border: 1px solid $color-secundaryDark;
    }
}

html {
    overflow-x: hidden;
    font-size: 62.5%;

    body {
        max-width: 100%;
        min-width: 320px;
        min-height: 100vh;
        font-size: 1.6rem;
        position: relative;

        &::-webkit-scrollbar {
            width: 0.7em;
        }

        main {
            padding-top: 8em;
        }

        input {
            outline: none;
            border: none;
        }

        a {
            color: $color-fontLight;
            text-decoration: none;
        }

        ul {
            list-style: none;
        }

        .light {
            @include lightMode;
        }

        .dark {
            @include darkMode;
        }
    }

    &.modalOpen {
        overflow-y: hidden;
        margin: 0 1em 0 0;
    }
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 0.1s;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 0.1s;
}
