$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #10A88D;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgLight: #F9FBFB;
$color-bgDark: #2D2D2D;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

main {
    .mainDep {
        width: 90%;
        margin: 12em auto 0;

        .containerDeps {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            grid-template-rows: auto auto; 
            gap: 20px;
            padding: .5em 0 1em;
        
            .gridItem {
                background-color: $color-card;
                padding: 10px;
                border-radius: 20px;
                text-align: center;
                box-shadow: 2px 2px 4px $color-shadow;

                img {
                    width: 250px;
                    height: 100px;
                }
            } 

            .item1 {
                grid-column: span 3;

                img {
                    width: 715px;
                }
            }
            
            .item2 { 
                grid-row: span 2;

                img {
                    height: 275px;
                }
            }
            
            .item4 { 
                grid-column: span 2;

                img {
                    width: 425px;
                }
            }
        }
    }

    .offers {
        width: 90%;
        margin: 0 auto;
        height: auto;
        padding-top: 1em;

        .offersList {
            display: flex;
            flex-direction: row;
            height: auto;

            .splide__list {
                margin: auto;
                width: 85vw;
            }
            
            .splide__slide {
                margin-right: -3em;
                padding-left: 5em;
            }

            .splide__pagination__page {
                display: none;
            }
            
            .splide__arrow {
                &.splide__arrow--prev,
                &.splide__arrow--next {
                    font-size: 2.2rem;
                    transition: 0.3s ease;
                    background-color: $color-primaryLight;
                    box-shadow: 2px 2px 4px $color-shadow;
                
                    &:hover {
                        opacity: .8;
                    }
                }

                &.splide__arrow--next {
                    right: -3em;
                }
            }
        }
    }

    .mainProds {
        width: 90%;
        margin: 0 auto;
        height: auto;
        padding-top: 1em;

        .productsList {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 2em;
            height: auto;
            padding: .5em 0 1em;
        }
    }

    .brands {
        width: 90%;
        margin: 0 auto;
        height: auto;
        padding-top: 1em;

        .brandsList {
            display: grid;
            grid-template-columns: repeat(5, minmax(100px, 1fr));
            gap: 2em;
            height: auto;
            padding-top: .5em;
            grid-auto-flow: row;
        }
    }
}