$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #10A88D;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgLight: #F9FBFB;
$color-bgDark: #2D2D2D;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

body {
    .mainDep {
        width: 90%;
        margin: 13em auto 0;

        .containerDeps {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            grid-template-rows: auto auto; 
            gap: 20px;
            margin-top: 10px;
        
            .gridItem {
                background-color: $color-card;
                padding: 10px;
                border-radius: 20px;
                text-align: center;
                box-shadow: 2px 2px 4px $color-shadow;

                img {
                    width: 250px;
                    height: 100px;
                }
            } 

            .item1 {
                grid-column: span 3;

                img {
                    width: 715px;
                }
            }
            
            .item2 { 
                grid-row: span 2;

                img {
                    height: 275px;
                }
            }
            
            .item4 { 
                grid-column: span 2;

                img {
                    width: 425px;
                }
            }
        }
    }

    .offers {
        width: 90%;
        margin: 0 auto;
        height: auto;

        .offersList {
            display: flex;
            flex-direction: row;
            gap: 5px;
            margin-top: 10px;
            height: auto;
        }
    }

    .mainProds {
        width: 90%;
        margin: 0 auto;
        height: auto;

        .productsList {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 5px;
            margin-top: 10px;
            height: auto;
        }
    }

    .brands {
        width: 90%;
        margin: 0 auto;
        height: auto;

        .brandsList {
            display: flex;
            gap: 5px;
            margin-top: 10px;
            height: auto;
        }
    }
}