$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #10A88D;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgLight: #F9FBFB;
$color-bgDark: #2D2D2D;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

main {
    font-family: $font-title;
    padding-top: 8em;

    .mainDep {
        width: 90%;
        margin: 2em auto 0;

        .containerDeps {
            display: grid;
            grid-template-columns: repeat(5, minmax(100px, 1fr));
            grid-template-rows: repeat(2, minmax(200px, 1fr)); 
            gap: 20px;
            padding: .5em 0 1em;
            font-family: $font-items;
        
            .gridItem {
                background-color: $color-card;
                padding: 20px;
                border-radius: 20px;
                text-align: center;
                box-shadow: 4px 4px 15px $color-shadow;

                img {
                    width: 100%;
                    height: 150px;
                    border-radius: 10px;
                    object-fit: contain;
                }
            } 

            .item1 {
                grid-column: span 3;
            }
            
            .item2 { 
                grid-row: span 2;

                img {
                    height: 395px;
                }
            }
            
            .item4 { 
                grid-column: span 2;
            }

            .item5 {
                img {
                    object-fit: cover;
                }
            }
        }
    }

    .mainProds {
        width: 90%;
        margin: 0 auto;
        height: auto;
        padding-top: 1em;

        .productsList {
            display: grid;
            place-items: center;
            grid-template-columns: repeat(5, minmax(100px, 1fr));
            grid-template-rows: 1fr 1fr;
            gap: 2em;
            height: auto;
            padding: .5em 0 1em;
        }
    }

    .brands {
        width: 90%;
        margin: 0 auto;
        height: auto;
        padding-top: 1em;     
        
        .brandsList {
            width: 100%;
            white-space: nowrap;
            overflow: hidden; 

            &[data-animated=true] {
                overflow: hidden;
                -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, white 20%, transparent);
                mask: linear-gradient(90deg, transparent, white 20%, white 80%, white 20%, transparent);

                .brandCard {
                    animation: scroll 80s linear infinite;
                }
            }

            &:hover .brandCard {
                animation-play-state: paused;
            }

          .brandCard {
            padding-block: 1em;
            margin: 1em;
            display: inline-block;
          }
        }
    }
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-3500% - 100vw));
    }
}

.dark {
    main {    
        .mainDep {    
            .containerDeps {
                .gridItem {
                    background-color: $color-secundaryLight;
                    box-shadow: 0 0 15px $color-card;
                    color: $color-fontDark;
                }
            }
        }
    }
}

@media only screen and (max-width: 1740px) {
    main {
        .mainProds {    
            .productsList {
                grid-template-columns: repeat(4, minmax(100px, 1fr));
            }
        }
        .brands {
            .brandsList {
                grid-template-columns: repeat(4, minmax(100px, 1fr));
            }
        }
    }
}

@media only screen and (max-width: 1340px) {
    main {
        .mainProds {    
            .productsList {
                grid-template-columns: repeat(3, minmax(100px, 1fr));
            }
        }
        .brands {
            .brandsList {
                grid-template-columns: repeat(3, minmax(100px, 1fr));
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    main {
        .mainDep {    
            .containerDeps {
                grid-template-columns: repeat(2, minmax(100px, 1fr));
                grid-template-rows: repeat(1, minmax(200px, 1fr)); 
            
                .gridItem {    
                    img {
                        height: 12em;
                    }
                } 
    
                .item1, .item2, .item4 {
                    grid-column: span 1;
                    grid-row: span 1;
                }

                .item5 {
                    img {
                        object-fit: contain;
                    }
                }
            }
        }
        .mainProds {    
            .productsList {
                grid-template-columns: repeat(2, minmax(100px, 1fr));
            }
        }
        .brands {
            .brandsList {
                grid-template-columns: repeat(2, minmax(100px, 1fr));
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    main {
        .mainDep {
            .containerDeps {
                display: flex;
                margin: auto;
                width: 100%;
                padding: 10px;
                overflow-x: scroll;
                scroll-behavior: smooth;
                scroll-snap-type: x proximity;
                scroll-snap-align: center;

                &::-webkit-scrollbar {
                    display: none;
                }
        
                .gridItem {
                    width: 80vw;
                    height: 17em;

                    img {
                        width: 70vw;
                        height: 12em;
                    }
                }
            }
        }
        .mainProds {    
            .productsList {
                grid-template-columns: repeat(1, minmax(100px, 1fr));
            }
        }
        .brands {
            .brandsList {
                grid-template-columns: repeat(1, minmax(100px, 1fr));
            }
        }
    }
}