$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #10A88D;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgLight: #F9FBFB;
$color-bgDark: #2D2D2D;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;

.scrollBtn{
  width: 18%;
  margin-left: auto;
  padding-right: 5%;
  margin-top: 10%;
  cursor: pointer;

  .progressBar{
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 10px;
    height: 50px;
    width: 50px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    animation: appearScrollButton .3s ease-out forwards; 

    .arrowUp{
      display: block;
      height: calc(100% - 10px);
      width: calc(100% - 10px);
      border-radius: 50%;
      display: grid;
      place-items: center;
      font-size: 30px;
      color: #212121;
    }
  }
}

@keyframes appearScrollButton {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  95% {
    transform: translateY(22px);
  }
  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}