$color-primaryLight: #36CEC4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4ADED6;
$color-detailsLight: #850E5D;

$color-primaryDark: #0d977e;
$color-secundaryDark: #2D3A3A;
$color-terciaryDark: #f6FEFDCC;
$color-detailsDark: #C75EA3;

$color-bgDark: #2D2D2D;
$color-bgLight: #F9FBFB;
$color-fontDark: #F6FEFD;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd4d;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.userContainer {
    background: #e8f1f078;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: .5em 1em;
    box-shadow: 4px 4px 4px $color-shadow;
    overflow-x: hidden;
  
    .userData {
        width: 100%;
        padding: 0 2em;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .user {
            display: flex;
            align-items: center;
            gap: .75em;
            padding: .5em 0;
            font-size: 2rem;
    
            img {
                object-fit: contain;
                border: 1px solid $color-primaryLight;
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
    
        .editUser {
            font-size: 2.2rem;
            color: $color-primaryLight;
            cursor: pointer;
        }
    }

    .lineUser {
        width: 120%;
        height: 0;
        border: 1.5px solid $color-primaryLight;
    }

    .updateInfos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        padding: 2em;

        .updateInputs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 1.5em;
        }

        .containerButtons {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            width: 100%;
            justify-content: space-evenly;
                      
            button {
                font-size: 2.2rem;
                width: 10em;
                padding: .5em 1em;
                border: none;
                border-radius: 5px;
                background: $color-primaryLight;
                font-family: $font-web;
                cursor: pointer;

                &:disabled {
                    filter: brightness(.9);
                    color: $color-fontDark;
                    opacity: .5;
                    cursor: not-allowed;
                }
            }
    
            .updateButtons {
                display: flex;
                flex-direction: column;
                gap: 1em;
            }
        }
    }
  
    hr {
        width: 90%;
        height: 0;
        border: 1.5px solid $color-primaryLight;
    }
    
    .typeUser {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 1em 5em;

        .logout, .adminPage {
            button {
                display: flex;
                align-items: center;
                gap: .5em;
                font-size: 2.2rem;
                padding: .5em 1em;
                border: none;
                border-radius: 5px;
                background: $color-primaryLight;
                font-family: $font-web;
                cursor: pointer;

                .icon {
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
    
    .modal {
        display: grid;
        place-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: $color-shadow;
        z-index: 99;
    
        .containerModal {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            gap: 1.5em;
            background: $color-bgLight;
            padding: 1.5em;
            border-radius: 15px;
    
            button {
                font-size: 2.2rem;
                padding: .5em 1em;
                border: none;
                border-radius: 5px;
                background: $color-primaryLight;
                font-family: $font-web;
                cursor: pointer;
            }
    
            .iconClose {
                width: 32px;
                height: 32px;
                cursor: pointer;
                position: absolute;
                top: 5px;
                right: 5px;
            }
        }
    }
}

.dark {
    .userContainer {      
        .userData {      
            .user {        
                img {
                    border: 1px solid $color-primaryDark;
                }
            }
        
            .editUser {
                color: $color-fontDark;
            }
        }
    
        .lineUser {
            border: 1.5px solid $color-primaryDark;
        }
    
        .updateInfos {
            .containerButtons {                          
                button {
                    background: $color-primaryDark;
                }
            }
        }
      
        hr {
            border: 1.5px solid $color-primaryDark;
        }
        
        .typeUser {    
            .logout, .adminPage {
                button {
                    background: $color-primaryDark;
                }
            }
        }
        
        .modal {        
            .containerModal {
                color: $color-fontLight;
        
                button {
                    background: $color-primaryDark;
                }
            }
        }
    }    
}

@media only screen and (max-width: 670px) {

}