$color-primaryLight: #36cec4;
$color-secundaryLight: #415352;
$color-terciaryLight: #4aded6;
$color-detailsLight: #850e5d;

$color-primaryDark: #0d977e;
$color-secundaryDark: #2d3a3a;
$color-terciaryDark: #f6fefdcc;
$color-detailsDark: #c75ea3;

$color-bgDark: #2d2d2d;
$color-bgLight: #f9fbfb;
$color-fontDark: #f6fefd;
$color-fontLight: #121717;

$color-shadow: #12171740;
$color-card: #f6fefd67;

$font-title: 'Merriweather Sans', sans-serif;
$font-web: 'Roboto Flex', Arial;
$font-items: 'Poppins', Helvetica;

.userContainer {
    background: #f3faf9de;
    display: flex;
    // align-items: center;
    gap: 1em;
    height: auto;
    max-height: 25em;
    border-radius: 20px;
    padding: 0 1em;
    box-shadow: 2px 2px 15px $color-shadow;

    .userData {
        width: 100%;
        padding: 0 2em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .user {
            display: flex;
            align-items: center;
            gap: 0.75em;
            padding: 0.5em 0;
            font-size: 2rem;

            img {
                object-fit: contain;
                border: 1px solid $color-primaryLight;
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }

        .configUser {
            display: flex;
            align-items: center;
            gap: 2em;

            .icon {
                height: 38px;
                width: 38px;
                color: $color-primaryLight;
                cursor: pointer;
            }
        }
    }

    .lineUser {
        width: 100%;
        height: 0;
        border: 1.5px solid $color-primaryLight;
    }

    .updateInfos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        padding: 2em;

        .updateInputs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 1.5em;
        }

        .containerButtons {
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            gap: 1em;
            width: 100%;
            justify-content: space-evenly;

            .updateButtons {
                display: flex;
                flex-direction: column;
                gap: 2em;
            }
        }
    }

    hr {
        width: 0;
        height: 100%;
        border: 1.5px solid $color-primaryLight;
    }

    .adminPage,
    .funcionarioPage {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1em;
        gap: 2em;
    }

    .modal {
        display: grid;
        place-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: $color-shadow;
        z-index: 99;

        .containerModal {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            max-height: 95vh;
            max-width: 95vw;
            gap: 1em;
            background: $color-bgLight;
            padding: 2em 1.5em;
            border-radius: 15px;
            overflow-y: auto;

            p {
                margin: 0.25em;
            }

            .inputSearch {
                width: 100%;
                position: relative;

                .btnSearch {
                    width: auto;
                    box-shadow: none;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 11;

                    .searchIcon {
                        color: $color-fontLight;
                        height: 28px;
                        width: 28px;
                    }
                }
            }

            .emptyMessage {
                width: 25em;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1em;
                text-align: center;
            }

            .listItens {
                text-align: left;
                overflow-y: auto;

                .itemUpdate {
                    display: flex;
                    align-items: center;
                    gap: 1em;
                    padding: 0.5em 1em;
                    margin: 0.5em 0;
                    font-size: 1.8rem;
                    font-family: $font-items;
                    cursor: pointer;
                    border-bottom: 2px solid $color-primaryLight;
                    width: 100%;

                    .spanNome {
                        text-transform: capitalize;
                        width: 20%;
                    }

                    img {
                        max-width: 175px;
                        height: clamp(175px, 20%, 200px);
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }

            .iconClose {
                width: 32px;
                height: 32px;
                cursor: pointer;
                position: absolute;
                top: 5px;
                right: 5px;
            }

            .containerButtons {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                gap: 1em;
            }
        }

        .modalProduto,
        .modalFuncionario,
        .modalFornecedor,
        .modalEndereco {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5em;
            padding: 0.5em 2em 1em;
            width: 100%;

            .inputNome,
            .inputEmail,
            .inputDesc,
            .inputCep {
                grid-column: span 2;
            }

            p {
                position: relative;

                .dropdown {
                    position: absolute;
                    display: grid;
                    text-align: center;
                    grid-template-columns: 1fr 1fr;
                    width: 100%;
                    height: 0;
                    max-height: 15em;
                    padding: 1em 10px 10px;
                    z-index: 25;
                    border-radius: 10px;
                    overflow-y: auto;
                    opacity: 0;
                    cursor: pointer;
                    box-shadow: 2px 2px 4px $color-shadow;
                    transition: 0.2s ease;

                    &.open {
                        background-color: $color-bgLight;
                        top: 40px;
                        height: auto;
                        opacity: 1;
                    }

                    [class^='dropdown'] {
                        text-indent: 10px;
                        border-bottom: 2px solid $color-primaryLight;
                        background-color: $color-bgLight;
                        cursor: pointer;
                        transition: 0.25s ease;

                        &:hover {
                            filter: brightness(0.9);
                        }

                        &:last-child {
                            cursor: default;

                            &:hover {
                                filter: brightness(1);
                            }
                        }
                    }

                    .dropdown-categoria {
                        padding: 10px 0;
                        font-size: 1.8rem;
                    }

                    .dropdown-estado {
                        padding: 5px 0;
                        font-size: 1.6rem;
                    }
                }

                .iconDrop {
                    position: absolute;
                    right: 1vw;
                    top: 25px;
                    z-index: 50;
                    transform: translateY(-50%);
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                }
            }
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        font-size: 2.2rem;
        width: clamp(8em, 8em + 10vw, 15em);
        padding: 0.5em 1em;
        border: none;
        border-radius: 5px;
        color: $color-fontDark;
        background: $color-primaryLight;
        box-shadow: 2px 2px 8px $color-shadow;
        font-family: $font-web;
        cursor: pointer;
        white-space: nowrap;
        transition: 0.5s ease;

        &:disabled {
            filter: brightness(0.9);
            color: $color-fontDark;
            opacity: 0.5;
            cursor: not-allowed;

            &:hover {
                filter: brightness(0.9);
                box-shadow: 2px 2px 8px $color-shadow;
            }
        }

        &:hover {
            filter: brightness(1.05);
            box-shadow: 0 0 10px $color-primaryLight;
        }

        .icon {
            width: 28px;
            height: 28px;
        }
    }
}

.dark {
    .userContainer {
        background-color: #72757478;
        box-shadow: 4px 4px 8px #4b4c4c78;

        .userData {
            .user {
                img {
                    border: 1px solid $color-primaryDark;
                }
            }

            .configUser {
                .icon {
                    color: $color-fontDark;
                }
            }
        }

        .lineUser {
            border: 1.5px solid $color-primaryDark;
        }

        hr {
            border: 1.5px solid $color-primaryDark;
        }

        .modal {
            .containerModal {
                background: #383737;

                ul {
                    .itemUpdate {
                        border-bottom: 2px solid $color-primaryDark;
                    }
                }
            }

            .modalEndereco,
            .modalProduto,
            .modalFuncionario,
            .modalFornecedor {
                p {
                    .dropdown {
                        box-shadow: 2px 2px 4px $color-shadow;

                        &.open {
                            background: #383737;
                        }

                        [class^='dropdown'] {
                            border-bottom: 2px solid $color-primaryDark;
                            background: #383737;

                            &:hover {
                                filter: brightness(1.1);
                            }
                        }

                        .dropdown-situacao {
                            &:last-child {
                                &:hover {
                                    filter: brightness(1.1);
                                }
                            }
                        }
                    }

                    .iconDrop {
                        color: $color-fontLight;
                    }
                }
            }
        }

        button {
            background: $color-primaryDark;

            &:disabled {
                &:hover {
                    box-shadow: 2px 2px 8px $color-shadow;
                }
            }

            &:hover {
                box-shadow: 0 0 10px $color-primaryDark;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .userContainer {
        .modal {
            .containerModal {
                .containerButtons {
                    flex-direction: column;
                }
            }

            .modalEndereco,
            .modalProduto,
            .modalFuncionario,
            .modalFornecedor {
                grid-template-columns: 1fr;
                max-height: 60vh;
                overflow-y: auto;
                padding-top: 1.5em;

                .inputNome,
                .inputEmail,
                .inputDesc {
                    grid-column: span 1;
                }

                &::-webkit-scrollbar {
                    display: none;
                }

                p {
                    position: relative;

                    .dropdown {
                        position: absolute;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        width: 100%;
                        height: 0;
                        padding: 1em 10px 10px;
                        z-index: 25;
                        border-radius: 10px;
                        overflow: hidden;
                        opacity: 0;
                        cursor: pointer;
                        box-shadow: 2px 2px 4px $color-shadow;
                        transition: 0.2s ease;

                        &.open {
                            background-color: $color-bgLight;
                            top: 40px;
                            height: auto;
                            opacity: 1;
                        }

                        [class^='dropdown'] {
                            text-indent: 10px;
                            border-bottom: 2px solid $color-primaryLight;
                            background-color: $color-bgLight;
                            cursor: pointer;
                            transition: 0.25s ease;

                            &:hover {
                                filter: brightness(0.9);
                            }

                            &:last-child {
                                cursor: default;

                                &:hover {
                                    filter: brightness(1);
                                }
                            }
                        }

                        .dropdown-categoria {
                            padding: 10px 0;
                            font-size: 1.8rem;
                        }

                        .dropdown-estado {
                            padding: 5px 0;
                            font-size: 1.6rem;
                        }

                        .dropdown-situacao {
                            padding: 10px 0;
                            font-size: 1.8rem;

                            &:last-child {
                                cursor: pointer;

                                &:hover {
                                    filter: brightness(0.9);
                                }
                            }
                        }
                    }

                    .iconDrop {
                        position: absolute;
                        right: 1vw;
                        top: 25px;
                        z-index: 50;
                        transform: translateY(-50%);
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    .userContainer {
        .userData {
            padding: 0 2em;

            .user {
                max-width: 10em;
                flex-direction: column;
                gap: 0.25em;
            }

            .configUser {
                gap: 1em;
            }
        }

        .updateInfos {
            .updateInputs {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
            }

            .containerButtons {
                .updateButtons {
                    flex-direction: column;
                    gap: 1em;
                }
            }
        }

        .adminPage {
            grid-template-columns: 1fr;
        }

        .modal {
            .containerModal {
                .listItens {
                    .itemUpdate {
                        flex-direction: column;
                        align-items: center;

                        img {
                            height: 150px;
                            width: 150px;
                        }
                    }
                }
            }
        }
    }
}
